body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:20px;
  width:300px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:129px;
  top:60px;
  width:222px;
  height:65px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:65px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:106px;
  top:125px;
  width:264px;
  height:155px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:155px;
}
#u5 {
  position:absolute;
  left:2px;
  top:70px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:111px;
  top:160px;
  width:259px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:60px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:117px;
  top:300px;
  width:242px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:238px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:117px;
  top:370px;
  width:160px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:294px;
  top:370px;
  width:65px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:470px;
  width:200px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
