.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

a:hover,
a:active {
	outline: 0;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img {
	max-width: none;
}

button,
input,
select,
textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button,
input {
	*overflow: visible;
	line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

@media print {
	* {
		text-shadow: none !important;
		color: #000 !important;
		background: transparent !important;
		box-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #005580;
	text-decoration: underline;
}

.img-rounded {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.img-polaroid {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}

[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 80px;
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
	display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
	float: right;
}

p {
	margin: 0 0 10px;
}

.lead {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
}

small {
	font-size: 85%;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

cite {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999999;
}

h1,
h2,
h3 {
	line-height: 40px;
}

h1 {
	font-size: 38.5px;
}

h2 {
	font-size: 31.5px;
}

h3 {
	font-size: 24.5px;
}

h4 {
	font-size: 17.5px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 11.9px;
}

h1 small {
	font-size: 24.5px;
}

h2 small {
	font-size: 17.5px;
}

h3 small {
	font-size: 14px;
}

h4 small {
	font-size: 14px;
}

ul,
ol {
	padding: 0;
	margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

li {
	line-height: 20px;
}

ul.unstyled,
ol.unstyled {
	margin-left: 0;
	list-style: none;
}

ul.inline,
ol.inline {
	margin-left: 0;
	list-style: none;
}

ul.inline>li,
ol.inline>li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-left: 5px;
	padding-right: 5px;
}

dl {
	margin-bottom: 20px;
}

dt,
dd {
	line-height: 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 10px;
}

hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #999999;
}

abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eeeeee;
}

blockquote p {
	margin-bottom: 0;
	font-size: 17.5px;
	font-weight: 300;
	line-height: 1.25;
}

blockquote small {
	display: block;
	line-height: 20px;
	color: #999999;
}

blockquote small:before {
	content: '\2014 \00A0';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

address {
	display: block;
	margin-bottom: 20px;
	font-style: normal;
	line-height: 20px;
}

code,
pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

pre.prettyprint {
	margin-bottom: 20px;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

.label,
.badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #999999;
}

.label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.badge {
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.label:empty,
.badge:empty {
	display: none;
}

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
}

.btn .label,
.btn .badge {
	position: relative;
	top: -1px;
}

.btn-mini .label,
.btn-mini .badge {
	top: 0;
}

table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;
}

.table th,
.table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

.table th {
	font-weight: bold;
}

.table thead th {
	vertical-align: bottom;
}

.table caption+thead tr:first-child th,
.table caption+thead tr:first-child td,
.table colgroup+thead tr:first-child th,
.table colgroup+thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
	border-top: 0;
}

.table tbody+tbody {
	border-top: 2px solid #dddddd;
}

.table .table {
	background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
	padding: 4px 5px;
}

.table-bordered {
	border: 1px solid #dddddd;
	border-collapse: separate;
	*border-collapse: collapse;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
	border-left: 1px solid #dddddd;
}

.table-bordered caption+thead tr:first-child th,
.table-bordered caption+tbody tr:first-child th,
.table-bordered caption+tbody tr:first-child td,
.table-bordered colgroup+thead tr:first-child th,
.table-bordered colgroup+tbody tr:first-child th,
.table-bordered colgroup+tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
	border-top: 0;
}

.table-bordered thead:first-child tr:first-child>th:first-child,
.table-bordered tbody:first-child tr:first-child>td:first-child,
.table-bordered tbody:first-child tr:first-child>th:first-child {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

.table-bordered thead:first-child tr:first-child>th:last-child,
.table-bordered tbody:first-child tr:first-child>td:last-child,
.table-bordered tbody:first-child tr:first-child>th:last-child {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

.table-bordered thead:last-child tr:last-child>th:first-child,
.table-bordered tbody:last-child tr:last-child>td:first-child,
.table-bordered tbody:last-child tr:last-child>th:first-child,
.table-bordered tfoot:last-child tr:last-child>td:first-child,
.table-bordered tfoot:last-child tr:last-child>th:first-child {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

.table-bordered thead:last-child tr:last-child>th:last-child,
.table-bordered tbody:last-child tr:last-child>td:last-child,
.table-bordered tbody:last-child tr:last-child>th:last-child,
.table-bordered tfoot:last-child tr:last-child>td:last-child,
.table-bordered tfoot:last-child tr:last-child>th:last-child {
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

.table-bordered tfoot+tbody:last-child tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}

.table-bordered tfoot+tbody:last-child tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}

.table-bordered caption+thead tr:first-child th:first-child,
.table-bordered caption+tbody tr:first-child td:first-child,
.table-bordered colgroup+thead tr:first-child th:first-child,
.table-bordered colgroup+tbody tr:first-child td:first-child {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

.table-bordered caption+thead tr:first-child th:last-child,
.table-bordered caption+tbody tr:first-child td:last-child,
.table-bordered colgroup+thead tr:first-child th:last-child,
.table-bordered colgroup+tbody tr:first-child td:last-child {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

.table-striped tbody>tr:nth-child(odd)>td,
.table-striped tbody>tr:nth-child(odd)>th {
	background-color: #f9f9f9;
}

.table-hover tbody tr:hover>td,
.table-hover tbody tr:hover>th {
	background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
	display: table-cell;
	float: none;
	margin-left: 0;
}

form {
	margin: 0 0 20px;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

legend small {
	font-size: 15px;
	color: #999999;
}

label,
input,
button,
select,
textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

input,
button,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
	display: block;
	margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}

input,
textarea,
.uneditable-input {
	width: 206px;
}

textarea {
	height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	*margin-top: 0;
	margin-top: 1px \9;
	line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
	width: auto;
}

select,
input[type="file"] {
	height: 30px;
	*margin-top: 4px;
	line-height: 30px;
}

select {
	width: 220px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}

select[multiple],
select[size] {
	height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999999;
}

.radio,
.checkbox {
	min-height: 20px;
	padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
	float: left;
	margin-left: -20px;
}

.controls>.radio:first-child,
.controls>.checkbox:first-child {
	padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}

.radio.inline+.radio.inline,
.checkbox.inline+.checkbox.inline {
	margin-left: 10px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
	float: none;
	margin-left: 0;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
	display: inline-block;
}

input,
textarea,
.uneditable-input {
	margin-left: 0;
}

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e6e6e6;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #cccccc;
	*border: 0;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}

.btn:active,
.btn.active {
	background-color: #cccccc \9;
}

.btn:first-child {
	*margin-left: 0;
}

.btn:hover,
.btn:focus {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn.active,
.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-large {
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
	margin-top: 4px;
}

.btn-small {
	padding: 2px 10px;
	font-size: 11.9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
	margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
	margin-top: -1px;
}

.btn-mini {
	padding: 0 6px;
	font-size: 10.5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.btn-block+.btn-block {
	margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
	width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #0044cc;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
	background-color: #003399 \9;
}

button.btn,
input[type="submit"].btn {
	*padding-top: 3px;
	*padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
	*padding-top: 7px;
	*padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
	*padding-top: 3px;
	*padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
	*padding-top: 1px;
	*padding-bottom: 1px;
}

.nav {
	margin-left: 0;
	margin-bottom: 20px;
	list-style: none;
}

.nav>li>a {
	display: block;
}

.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}

.nav>li>a>img {
	max-width: none;
}

.nav>.pull-right {
	float: right;
}

.nav-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	color: #999999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.nav li+.nav-header {
	margin-top: 9px;
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert,
.alert h4 {
	color: #c09853;
}

.alert h4 {
	margin: 0;
}

.alert .close {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 20px;
}

@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

@-moz-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

@-ms-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

@-o-keyframes progress-bar-stripes {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 40px 0;
	}
}

@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

.progress {
	overflow: hidden;
	height: 20px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.progress .bar {
	width: 0%;
	height: 100%;
	color: #ffffff;
	float: left;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0e90d2;
	background-image: -moz-linear-gradient(top, #149bdf, #0480be);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
	background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
	background-image: -o-linear-gradient(top, #149bdf, #0480be);
	background-image: linear-gradient(to bottom, #149bdf, #0480be);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 0.6s ease;
	-moz-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.progress .bar+.bar {
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .15), inset 0 -1px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .15), inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .15), inset 0 -1px 0 rgba(0, 0, 0, .15);
}

.hide {
	display: none;
}

.show {
	display: block;
}

.invisible {
	visibility: hidden;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.fade.in {
	opacity: 1;
}

.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

.collapse.in {
	height: auto;
}

blockquote p {
	font-size: 14px;
}

select,
input[type="file"] {
	height: auto;
	height: 22px;
}

.progress {
	height: 8px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #f2f2f2;
	box-shadow: none;
}

.progress .bar {
	background: #f80 !important;
	box-shadow: none;
	filter: none;
}

.input-medium {
	width: 135px;
}

.search input {
	border-radius: 2px;
	width: 135px;
}

.search input:focus,
.search:hover input {
	width: 135px;
}

input[type="radio"],
input[type="checkbox"] {
	margin-top: -2px;
	margin-right: 2px;
}

select {
	padding: 1px 6px;
}

.typo {
	font: 500 14px/1.6 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif !important;
	-webkit-font-smoothing: antialiased;
}

.typo header h1 {
	text-align: center;
}

.typo section {
	margin: 0 0 2em;
}

.typo section:last-child {
	margin: 0;
}

.typo h1,
.typo h2,
.typo h3,
.typo h4,
.typo h5,
.typo h6,
.typo small {
	margin: 0 0 0.5em;
	line-height: 1.5;
	font-weight: 500;
}

.typo h1 {
	font-size: 1.8em;
}

.typo h2 {
	font-size: 1.6em;
}

.typo h3 {
	font-size: 1.4em;
}

.typo h4 {
	font-size: 1.2em;
}

.typo h5,
.typo h6 {
	font-size: 1em;
}

.typo ul {
	margin-left: 1.9em;
	margin-bottom: 1em;
	list-style: disc;
}

.typo ol {
	margin-left: 1.9em;
	margin-bottom: 1em;
	list-style: decimal;
}

.typo li ul,
.typo li ol {
	margin: 0 0 0 2em;
}

.typo li ul {
	list-style: circle;
}

.typo li li ul {
	list-style: square;
}

.typo em {
	font-style: italic;
}

.typo pre {
	margin-bottom: 1em;
}

.typo p {
	margin: 0 0 1em;
	text-align: justify;
	text-justify: distribute-all-lines;
	text-justify: inter-ideograph;
}

.typo p:last-child {
	margin: 0;
}

.typo small {
	display: block;
	margin: 1em 0;
}

.typo ul,
.typo ol {
	margin: 0 0 1em 1.9em;
}

.typo li {
	line-height: 1.8;
}

.typo p.p-s01 {}

.typo p.p-s02 {
	text-indent: 2em;
}

.typo p.p-s03:first-letter {
	float: left;
	font-size: 48px;
	line-height: 1;
	margin: 0 5px 0 0;
	text-transform: uppercase;
	font-family: kaiti, STKaiti;
}

.typo table {
	position: relative;
	border-collapse: collapse;
	font-size: 14px !important;
	width: 100%;
	margin: 0 0 2em;
}

.typo table.table-striped {}

.typo table.table-bordered {}

.typo table.table-condensed {}

.typo table.table-striped.table-bordered.table-condensed {}

.typo blockquote {
	margin: 1.5em 2.5em 2em 2em;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 1);
	box-shadow: 6px 6px 0 #cecece;
	color: #d86c23;
}

.typo blockquote blockquote {
	border: 1px solid #ddd;
}

.typo blockquote {
	padding: .5em 1em 1em;
}

.typo blockquote p {
	line-height: 1.6;
}

.typo blockquote p:last-child {
	margin-bottom: 0;
}

.typo blockquote.blockquote-s01 {}

.typo blockquote.blockquote-s02 {
	margin: 1em 4em 2em 2em;
	padding: 0 0 0 1em;
	border-radius: 0;
	border: none;
	border-left: 0.4em solid #ddd;
	box-shadow: none;
}

.typo blockquote.blockquote-s02 blockquote {
	margin: 1em 4em 1em 2em;
	padding: 0 0 0 1em;
	border-radius: 0;
	border: none;
	border-left: 0.4em solid #ddd;
	box-shadow: none;
}

.typo blockquote.blockquote-s03 {
	background: url(../img/icon_q.png) no-repeat 0 -15px;
	margin: 1em 4em 2em 0;
	padding: 0 0 0 4.4em;
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.typo blockquote.blockquote-s03 blockquote {
	background: url(../img/icon_q.png) no-repeat 0 -15px;
	margin: 1em 4em 1em 0;
	padding: 0 0 0 4.4em;
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.typo .element {
	position: relative;
	margin: 0 0 2em;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
}

body {
	background: transparent;
}

div.reveal {
	overflow: hidden;
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	transform-origin: 0px 0px 0px;
}

div.slides {
	left: 0;
	top: 0;
	position: absolute;
}

div.slides section {
	position: absolute;
}

div.interaction-area {
	position: absolute;
	width: 100%;
	height: 100%;
}

html {
	-webkit-text-size-adjust: auto;
	-ms-text-size-adjust: auto;
}

.typo {
	font: 500 14px 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif !important;
	-webkit-font-smoothing: antialiased;
}

div.interaction-view {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.iText {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

div.iVideo.unloaded {
	display: none;
}

div.iView {
	position: absolute;
	background-color: transparent;
}

div.iView.fixed {
	position: fixed !important;
}

.modal.mask {
	z-index: 999;
	padding: 0px;
	margin: 0px;
	position: fixed;
	overflow: hidden;
}

.text_button.ui-button-text-only .ui-button-text {
	padding: 0.4em 0.8em;
}

.text_button,
.icon_button {
	margin: 1px;
}

canvas#interaction {
	position: absolute;
	background: transparent;
	opacity: 1;
}

div.loading {
	position: fixed;
	width: 100%;
	z-index: 2;
}

div.loading.progress {
	height: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #000000;
	background-image: none;
}

div.loading.progress.active .bar {
	background-color: #44b549 !important;
}

div#preloader {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

div#preloader img {
	display: block;
}

div.prewait {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../custom_img/ajax-loader1.gif) center center no-repeat #BBBBBB;
	z-index: 1000000;
	opacity: 1;
}

div.reveal > div.progress {
	line-height: 2px;
	margin-bottom: 0px;
}

div.iView.hasaction,
div.iView img.hasaction {
	cursor: pointer;
}

.no_selection {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.iView.master.masterhide {
	display: none !important;
}

.iView.background.backgroundhide {
	display: none !important;
}

.typo .nav-horizen {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	left: 45%;
	z-index: 9999;
	width: auto;
	height: 8px;
	margin: 0;
	padding: 6px !important;
	border-radius: 12px;
	background: transparent !important;
	border: 0 solid rgba(0, 0, 0, .075);
	text-align: center;
	background: none;
	line-height: 0;
}

.typo .nav-horizen li {
	display: inline-block;
	margin: 0 4px;
	padding: 0;
	width: 8px;
	height: 8px;
	overflow: hidden;
	text-indent: -9999px;
	background: rgba(0, 0, 0, .75);
	border-radius: 100%;
}

.typo .nav-horizen li.active {
	background: rgba(0, 0, 0, .2);
}

.typo .nav-vertical {
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 45%;
	z-index: 9999;
	width: 8px;
	height: auto;
	margin: 0;
	padding: 6px !important;
	border-radius: 12px;
	background: transparent !important;
	border: 0 solid rgba(0, 0, 0, .075);
	text-align: center;
	background: none;
	line-height: 0;
}

.typo .nav-vertical li {
	display: inline-block;
	margin: 4px 0;
	padding: 0;
	width: 8px;
	height: 8px;
	overflow: hidden;
	text-indent: -9999px;
	background: rgba(0, 0, 0, .75);
	border-radius: 100%;
}

.typo .nav-vertical li.active {
	background: rgba(0, 0, 0, .2);
}

body.ios {
	height: 100% !important;
}

a:hover,
a:focus {
	color: #f80;
	text-decoration: none !important;
}

.nano > .content:focus {
	outline: none !important;
}

.alert_mask {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100000000;
	background: #000;
	left: 0;
	top: 0;
	opacity: 0.2;
}

.book_mask {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background: #000;
	left: 0;
	top: 0;
	opacity: 0.9;
}

.book_mask > img {
	width: 75px;
	height: 72px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -32.5px;
	margin-top: -80px;
}

.book_mask > div {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 300px;
	text-align: center;
	color: #FFF;
	font-weight: bolder;
	margin-left: -150px;
	letter-spacing: 2px;
	font-size: 16px;
	margin-top: 30px;
}

.noevents {
	pointer-events: none;
}

.c-transition-containment {}

.c-transition-noevents {
	pointer-events: none !important;
}

.c-perspective {
	-webkit-perspective: 1500px;
	-moz-perspective: 1500px;
	perspective: 1500px;
}

.c-transition-item {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.c-transition-item.c-transition-up {
	display: block;
	top: -101%;
}

.c-transition-item.c-transition-down {
	display: block;
	top: 101%;
}

.c-transition-item.c-transition-left {
	display: block;
	left: -101%;
}

.c-transition-item.c-transition-right {
	display: block;
	left: 101%;
}

.c-transition-item.c-transition-current,
.c-transition-item.c-transition-active,
.no-js .c-transition-item {
	display: block;
	z-index: 1;
	left: 0;
	top: 0;
}

.c-transition-item.c-transition-current {
	pointer-events: initial;
}

.c-transition-item.c-transition-top {
	z-index: 999;
}

.ParagraghEditable .iParagraph.editable {
	outline: dashed 1px #eee;
}

.csstransforms3d {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
}

.reveal * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.iView input,
div.iView textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.alert-box {
	width: 280px;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	z-index: 999999996;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -140px;
	border-radius: 8px;
}

div.alert-box .alert-msg {
	width: 90%;
	min-height: 80px;
	margin: 2em auto 5px;
	border-bottom: 1px solid #bbb;
	text-align: center;
	line-height: 28px;
	font-size: 16px;
	color: #545151;
	letter-spacing: 5px;
}

div.alert-box .alert-title {
	width: 90%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #545151;
	letter-spacing: 5px;
}

.iSelectBox > input[type=radio],
.iSelectBox > input[type=checkbox] {
	display: none;
}

.iSelectBox > label {
	background-image: url(../img/formwidget/checkbox@2x.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.iSelectBox > input[type=checkbox] {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.iSelectBox > input[type=checkbox] + label {
	padding-left: 25px;
	height: 17px;
	display: inline-block;
	line-height: 17px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 18px 34px;
	font-size: 17px;
	vertical-align: middle;
	cursor: pointer;
}

.iSelectBox > input[type=checkbox]:checked + label {
	background-position: 0 -17px;
}

.iSelectBox > input[type=radio] + label {
	background-image: url(../img/formwidget/radio@2x.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.iSelectBox > input[type=radio] + label {
	padding-left: 22px;
	height: 18px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 18px 36px;
	font-size: 18px;
	vertical-align: middle;
	cursor: pointer;
}

.iSelectBox > input[type=radio]:checked + label {
	background-position: 0 -18px;
}

.absolutecenter {
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	position: absolute;
	display: inline-block;
}

.imageeditorcontainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #rgba(0, 0, 0, 0.4);
	z-index: 99999999;
}

.imageeditor {
	background: transparent;
	overflow: hidden;
	z-index: 99999999;
	opacity: 0.7;
}

.imageeditorbuttons {
	display: inline-block;
	margin: auto;
	width: 109px;
	height: 37px;
	position: absolute;
	bottom: 100px;
	z-index: 999999999;
	left: 0;
	right: 0;
	background-image: url(../img/weixinapp/camerabutton.png);
	background-size: cover;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-user-select: none;
	outline: none;
}

.voiceeditor {
	width: 227px;
	height: 275px;
	text-align: center;
	z-index: 99999999;
	background: transparent;
	outline: none;
}

.voiceeditor .voicetext {
	text-align: center;
	color: #fff;
	font-size: 18px;
	padding: 20px 0;
	height: 30px;
	outline: none;
}

.voiceeditor .voicebutton {
	background-size: cover;
	border: none;
	margin: 20px auto;
	background-color: transparent;
	display: block;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-user-select: none;
	outline: none;
}

.voiceeditor .voicebutton#startRecord {
	background-image: url(../img/weixinapp/record01.png);
	width: 77px;
	height: 78px;
	position: relative;
	margin: 20px auto 0;
}

.voiceeditor .voicebutton#stopRecord {
	background-image: url(../img/weixinapp/record02.png);
	width: 77px;
	height: 78px;
	position: relative;
	margin: 20px auto 0;
}

.voiceeditor .voicebutton#playVoice {
	background-image: url(../img/weixinapp/play1.png);
	width: 91px;
	height: 37px;
	position: relative;
	margin: 30px auto 0;
}

.voiceeditor .voicebutton#stopVoice {
	background-image: url(../img/weixinapp/pause1.png);
	width: 91px;
	height: 37px;
	position: relative;
	margin: 30px auto 0;
}

.voiceeditor-control {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url(../img/weixinapp/bg.png);
	background-size: cover;
	outline: none;
}

.weixinconfirm {
	position: absolute;
	bottom: 5px;
	width: 208px;
	height: 37px;
	left: 0;
	margin: 0 auto;
	right: 0;
	background-image: url(../img/weixinapp/confirm01.png);
	background-size: cover;
	border: none;
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-user-select: none;
	outline: none;
}

.weixinconfirm:active {
	background-image: url(../img/weixinapp/confirm02.png);
}

.weixinbutton {
	border: none;
	background: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-user-select: none;
	outline: none;
}

.weixinbutton.imageconfirm {
	width: 54px;
	height: 37px;
	display: inline-block;
}

.weixinbutton.chooseimage {
	width: 54px;
	height: 37px;
	display: inline-block;
}

.weixincancel,
.weixincancel:active {
	width: 29px;
	height: 29px;
	background-image: url(../img/weixinapp/cancel1.png);
	background-size: cover;
	background-color: transparent;
	border: none;
	position: absolute;
	right: -15px;
	top: -15px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-tap-highlight-color: transparent !important;
	-webkit-user-select: none;
	outline: none;
}

.editor_mask {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background: #000;
	left: 0;
	top: 0;
	opacity: 0.9;
	outline: none;
}

.interaction-view input,
.interaction-view button,
.interaction-view select,
.interaction-view textarea {
	outline: none
}

.interaction-view textarea {
	resize: none
}

.bk_full {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.bk_cover {
	background-size: cover;
	background-repeat: no-repeat;
}

.bk_contain {
	background-size: contain;
	background-repeat: no-repeat;
}

.overflowhidden {
	overflow: hidden;
}

input,
button,
select,
textarea {
	outline: 0;
}

.c-input,
.c-select {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
}

::-webkit-scrollbar {
	width: 0px !important;
}

section::-webkit-scrollbar {
	width: 0px;
}

.c-time-15 {
	-webkit-animation-duration: 1.5s !important;
	animation-duration: 1.5s !important;
}

.c-time-20 {
	-webkit-animation-duration: 2s !important;
	animation-duration: 2s !important;
}

.master_audio_icon .image_wrap {
	overflow: visible !important;
}

span.audio-control {
	width: 30.5px;
	height: 30.5px;
	position: absolute;
	background-size: cover;
	margin: 0;
}

span.audio-control.status-play {
	background-image: url(../img/audiobar/media_play@2x.png);
}

span.audio-control.status-pause {
	background-image: url(../img/audiobar/media_pause@2x.png);
}

span.video-control.status-play {
	width: 60px;
	height: 60px;
	position: absolute;
	background-size: cover;
	margin: 0;
	background-image: url(../img/audiobar/videoplay@2x.png);
}

.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	width: 100%;
	position: absolute;
	margin: 14px 0;
	height: 3px;
	background: url(../img/audiobar/maximum_track@2x.png);
}

.ui-slider-horizontal .ui-slider-handle {
	top: -14px;
	background: url(../img/audiobar/slider_thumb@2x.png);
	width: 19.5px;
	height: 28.5px;
	background-size: cover;
	margin-left: -8px;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
	background: url(../img/audiobar/minimum_track@2x.png);
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
	left: -.7em;
	;
	margin-left: 0;
	margin-bottom: -.6em;
	background: url(../img/audiobar/slider_thumb@2x.png);
	width: 14px;
	height: 24px;
	background-size: cover;
}

.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-coverflow-wrapper {
	position: relative;
	z-index: 1;
	overflow: hidden
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: " ";
	display: table
}

.ui-helper-clearfix:after {
	clear: both
}

.ui-coverflow {
	-webkit-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
	position: absolute;
	z-index: 2
}

.ui-coverflow,
.ui-coverflow * {
	-ms-touch-action: pan-y!important
}

.ui-coverflow .ui-coverflow-item {
	position: relative;
	cursor: default;
	float: left;
	display: block;
	height: 100%;
	overflow: hidden;
}

.ui-coverflow .ui-coverflow-item img {
	vertical-align: top;
	display: block;
}

.hasaction .ui-coverflow .ui-coverflow-item {
	cursor: hand;
	cursor: pointer;
}

.ui-coverflow .ui-coverflow-item:focus {
	outline: 0
}

.ui-coverflow img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
	border: 0 none
}

@font-face {
	font-family: 'FontAwesome';
	src: url(../font/fontawesome-webfont.eot?v=3.2.1);
	src: url(../font/fontawesome-webfont.eot?#iefix&v=3.2.1) format('embedded-opentype'), url(../font/fontawesome-webfont.woff?v=3.2.1) format('woff'), url(../font/fontawesome-webfont.ttf?v=3.2.1) format('truetype'), url(../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1) format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	*margin-right: .3em;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	text-decoration: inherit;
	display: inline-block;
	speak: none;
}

.icon-large:before {
	vertical-align: -10%;
	font-size: 1.3333333333333333em;
}

a [class^="icon-"],
a [class*=" icon-"] {
	display: inline;
}

[class^="icon-"].hide,
[class*=" icon-"].hide {
	display: none;
}

.icon-2x {
	font-size: 2em;
}

.icon-3x {
	font-size: 3em;
}

.icon-4x {
	font-size: 4em;
}

.icon-5x {
	font-size: 5em;
}

.icon-warning-sign:before {
	content: "\f071";
}

.icon-search:before {
	content: "\f002";
}

.progress {
	background: #333;
	background: rgba(255, 255, 255, 0.2);
	margin: 0;
	padding: 0;
}

.progress span {
	opacity: .5;
	background: #f80;
	-webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.progress {
	height: 4px;
	width: 100%;
	left: 0;
	z-index: 10;
}

.presentation-area .progress {
	position: absolute;
	display: none;
	height: 4px;
	width: 100%;
	bottom: -4px;
	left: 0;
	z-index: 10;
}

.progress:after {
	content: '';
	display: block;
	position: absolute;
	height: 20px;
	width: 100%;
	top: -20px
}

.progress span {
	display: block;
	height: 100%;
	width: 0;
	-webkit-transition: width 800ms cubic-bezier(0.26, .86, .44, .985);
	-moz-transition: width 800ms cubic-bezier(0.26, .86, .44, .985);
	-ms-transition: width 800ms cubic-bezier(0.26, .86, .44, .985);
	-o-transition: width 800ms cubic-bezier(0.26, .86, .44, .985);
	transition: width 800ms cubic-bezier(0.26, .86, .44, .985)
}

body {
	overflow-x: hidden;
}

#epub360-ad {
	min-height: 54px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: left;
	padding-top: 12px;
	padding-left: 20px;
	background-color: rgba(56, 56, 56, 0.890196);
	display: none;
}

#epub360-ad a.c-linkblock {
	display: inline-block;
}

#epub360-ad a.www {
	min-width: 0px;
	min-height: 0px;
	width: 40px;
	height: 40px;
	text-align: left;
	position: relative;
	border-radius: 20px;
	float: left;
	margin-top: 2px;
	background-color: rgb(92, 92, 92);
}

#epub360-ad a.www img.logo {
	width: 10px;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	position: absolute;
	display: inline-block;
}

#epub360-ad a.support {
	min-width: 0px;
	min-height: 0px;
	padding-left: 18px;
}

#epub360-ad a.support p.first {
	font-family: 'Hiragino Sans GB', 'Microsoft YaHei', SimHei, STHeiti;
	color: rgb(217, 217, 217);
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: none;
}

#epub360-ad a.support p.second {
	color: rgb(209, 209, 209);
	border-bottom-style: dotted;
	border-bottom-color: rgb(189, 189, 189);
	border-bottom-width: 1px;
	float: none;
	clear: both;
	margin-bottom: 0px;
	font-size: 13px;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", SimHei, STHeiti;
}

#epub360-ad a.close {
	min-width: 10px;
	min-height: 10px;
	height: 20px;
	width: 20px;
	text-align: center;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 20px;
	margin-top: 0px;
}

#epub360-ad a.close p {
	margin-bottom: 0px;
	color: rgb(214, 214, 214);
	font-size: 16px;
}

#epub360-ad.show {
	z-index: 999999;
	display: block;
	animation: showbar 0.5s linear 0s;
	-webkit-animation: showbar 0.5s linear 0s;
}

@keyframes showbar {
	from {
		bottom: -68px
	}
	to {
		bottom: 0px;
	}
}

@-webkit-keyframes showbar {
	from {
		bottom: -68px
	}
	to {
		bottom: 0px;
	}
}

div.epub360-logo1,
div.epub360-logo3 {
	display: none;
}

.presentation-area .close {
	right: 15px;
	font-size: 28px;
}

.presentation-area .controlbar {
	position: absolute;
	bottom: 0;
	height: 50px;
	left: 0;
	right: 0;
	z-index: 10000;
}

.presentation-area button {
	outline: none;
}

.presentation-area .controlbar .progress {
	display: block;
	height: 3px;
	bottom: 0px;
	right: 0px;
	left: 0;
	width: auto;
	border-radius: 0;
	background: rgba(255, 255, 255, 1);
	margin-bottom: 0px;
}

.presentation-area .controlbar .progress span {
	opacity: 1;
	border-radius: 2px;
}

.presentation-area .controlbar .controls {
	bottom: 60px;
}

.btn.disabled,
.btn[disabled] {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	color: #aaa;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.presentation-area .controlbar .logo {
	position: absolute;
	left: 20px;
	top: 12px;
	width: 82px;
	height: 26px;
}

.presentation-area .controlbar .action-control {
	position: absolute;
	left: 50%;
	bottom: 9px;
	margin-left: -86px;
	background: rgba(255, 255, 255, .75);
	padding: 0 3px;
	border-radius: 2px;
}

.presentation-area .controlbar .more-actions {
	display: none;
}

.presentation-area .controlbar .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: -1px;
	right: 58px;
	padding: 3px 10px;
}

.presentation-area .controlbar .action-control button {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	color: #aaa;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.presentation-area .controlbar .action-control button.enabled {
	cursor: pointer;
	background-image: none;
	opacity: 1;
	color: #000;
	filter: alpha(opacity=100);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(../img/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 1px;
}

.icon-chevron-left {
	background-position: -432px -72px;
}

.icon-chevron-right {
	background-position: -456px -72px;
}

.icon-chevron-up {
	background-position: -288px -120px;
}

.icon-chevron-down {
	background-position: -313px -119px;
}

@media screen and (min-width:0) and (max-width:600px) {
	.presentation-area .controlbar .action-share {
		visibility: hidden;
	}
}