@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
	font-family: "微软雅黑";
	background: #e6e5eb;
}
ul li{
	list-style: none;
}
.clearfix{
	content: "";
	display: block;
	clear: both;
}
.head_wrap{
	width: 100%;
	height:45px;
	background: #2b1670;
	min-width: 1200px;
}
.head_content{
	width: 1000px;
	float: right;
}
.conp_name,.hot_line{
	width: 180px;
	color: #fff;
	height: 20px;
    line-height: 20px;
    margin: 12px 0;
    text-align: center;
    float: left;
}
.line_border{
	width: 10px;
	height: 45px;
	line-height: 45px;
	float: left;
}
.line_border span{
	width: 1px;
	height: 45px;
	display: block;
	background: #3b1f98;
	margin: 0 auto;
	box-shadow: -1px 0 1px #190c45;
}
.conp_name i{
	display: block;
	width: 25px;
	height: 20px;
	background: url(../images/BSHT_icon.png)no-repeat;
	background-position: 0 0;
	float: left;
}
.hot_line i{
	display: block;
	width: 25px;
	height: 16px;
	line-height: 16px;
	background: url(../images/BSHT_icon.png)no-repeat;
	background-position: 0 -20px;
	float: left;
	margin: 4px 0 0 8px;

}
.hot_line_img {
	width: 200px;
	float:left ;
	margin: 12px 0;
	
}
.hot_line_img img{
	width: 100%;
}
/*head end*/

/*nav start*/
.nav{
	width: 100%;
	height: 120px;
	background: #fff;
	min-width: 1200px;
}
.nav_content{
	width: 1000px;
	margin: 0 auto;
	height: 100px;
	line-height: 100px;
}
.logo{
	width: 216px;
	float: left;
}
.logo img{
	width: 100%;
	vertical-align: middle;
}
.nav_list{
	width: 630px;
	float: right;
	text-align: center;
}
.nav_list li{
	width: 90px;
	float: left;
	color: #555;
	font-size: 16px;
	cursor: pointer;
}
/* nav end*/
/*concontainer start*/
/*lunbotu*/
.container{
	width: 100%;
	min-width: 1200px;
}
.img_carousel{
	width: 100%;
	position: relative;
}
.img_carousel img{
	width: 100%;
}
.icon_wrap{
	width: 100%;
	height: 60px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
}
.left_icon{
	width: 60px;
	height: 60px;
	background: url(../images/BSHT_left.jpg)no-repeat;
	background-size:100% auto ;
	float:left ;
}
.right_icon{
	width: 60px;
	height: 60px;
	background: url(../images/BSHT_right.jpg)no-repeat;
	background-size:100% auto ;
	float: right;
}
.item_nav{
	width: 1000px;
	height: 70px;
	line-height: 70px;
	
    text-align: center;
}
.item_nav ul{width: 1000px;}
.item_nav ul li{
	background: #ca4444;
	width: 250px;
	float: left; 
	font-size: 16px;
	overflow: hidden;
	cursor: pointer;
}
.item_nav ul li i{
	float: left;
	width: 35px;
	display: block;
	background: url(../images/BSHT_icon.png)no-repeat;
	background-position: 0 -58px;
	margin: 20px -60px 20px 20px;
}
.item_nav ul li.select{
	background: #39287b;
}
.item_nav ul li i.icon-1{
	height: 29px;
	background-position: 0 -58px;
}
.item_nav ul li i.icon-2{
	height: 20px;
	background-position: 0 -87px;
	margin-top: 26px;
}
.item_nav ul li i.icon-3{
	height: 26px;
	background-position: 0 -107px;
	
}
.item_nav ul li i.icon-4{
	height: 25px;
	background-position: 0 -133px;
}
.tab{
	width: 1000px;
	/*height: 200px;*/
	position: absolute;
    left: 50%;
    margin-left: -500px;
    bottom: 50px;
}
.tabct{
	/*width: 300px;*/
	width: 260px;
	height: 130px;
	background: #fff;
	position: absolute;
    /*left: 50%;
    margin-left: -500px;*/
    top: -130px;
    transition: all .2s; 
}
.tabct:nth-child(2){
	left: 250px;
}
.tabct:nth-child(3){
	left: 500px;
}
.tabct:nth-child(4){
	left:740px;
}
.tabct:after{
	display: block;
	content:" ";
	position:absolute;
	bottom: -15px;
	left: 30px;
	width:0; 
    height:0; 
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #fff;
}
.tabct_tab_nav {
	/*width: 300px;*/
	width: 260px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.tabct_tab_nav li{
	width: 130px;
	float: left;
	background: #2b1670;
	color: #fff;
}
.tabct_tab_nav li.select{
	background: #fff;
	color: #000;
}

.tabct_tab_content_item{
	width: 234px;
	height: 170px;
	margin: 24px auto;
}
.tabct_tab_content_item input{
	width: 190px;
	height: 36px;
	border: 2px solid #cacaca;
	float: left;
	outline: none;
	border-radius: 5px 0 0 5px;
}
::-moz-placeholder {
	color: #cacaca;
	text-align: center;
	font-family: ""
}

:-ms-input-placeholder {
	color: #cacaca;
	text-align: center;
}

::-webkit-input-placeholder {
	color: #cacaca;
	text-align: center;
}
/*.tabct_tab_content_item {
	width: 40px;
	height:40px ;
	display: block;
	background: #da251d;
	float: right;
	border-radius:0 5px 5px 0;
}*/
.tabct_tab_content_item .search{
	width: 40px;
	height:40px ;
	display: block;
	background: #da251d;
	/*background: url(../images/BSHT_icon.png)no-repeat ;
	background-position: 0 -36px;*/
	float: right;
	border-radius:0 5px 5px 0;
}
.tabct_tab_content_item .search span{
	width: 21px;
	height:21px ;
	margin: 9px;
	display: block;
	background: url(../images/BSHT_icon.png)no-repeat ;
	background-position: 0 -36px;
	float: right;
	border-radius:0 5px 5px 0;
}

/*news*/
.new_wrap{
	width: 1000px;
	height: 292px;
	margin: 5px auto;
}
.new_wrap_left{
	width: 710px;
	height: 292px;
	background: #fff;
	float: left;
	
}
.new_wrap_left_content{
	width: 700px;
	margin: 0 auto;
	padding: 0 20px;
    box-sizing: border-box;
}
.nlc_title {
	padding: 10px 10px 5px;
	height: 30px;
	border-bottom: 2px solid #e7e7e7;
}
.nlc_title_l{
	width: 400px;
	float: left;
	height: 30px;
	line-height: 30px;
}
.nlc_title_l h2{
	float: left;
	color: #494949;
}
.nlc_title_l h2 sub{
	margin-left: 10px;
	color: #9b9a9a;
}
.nlc_title_l .nlc_title_tab{
	width: 200px;
	float: right;
	margin-top: -34px;
}
.nlc_title_l .nlc_title_tab li{
	float: left;
	width: 100px;
	text-align: center;
	background: #2b1670;
	position: relative;
	color: #fff;
}
.nlc_title_l .nlc_title_tab li.check{
	background: #cd0800;
}
.nlc_title_l .nlc_title_tab li.check:after{
	display: block;
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
}
.nlc_title a{
	float: right;
	margin-top: 14px;
	text-decoration: none;
	color: #000;
}

.nlc_title_tab_content{
	height: 170px;
	margin: 35px auto 0;
}
.news_content_list {
	height: 170px;
}
.left_imgList{
	float: left;
}
.right_news_content{
	float: right;
}
.new_wrap_right{
	width: 290px;
	height: 292px;
	background: #f6f6f6;
	float: right;
	box-shadow:inset 1px 0 8px #d4d4d4;
}

.right_news_content li{
	width: 360px;
	font-size: 14px;
	color: #7e7e7e;
	margin-bottom: 36px;
	/*overflow: hidden;*/
}
.right_news_content li span.dot{
	    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    background: #7c7c7c;
    margin: 4px 3px -12px -12px;
}
.right_news_content li span:nth-child(2){
	float: left;
}
.right_news_content li span:nth-child(3){
	float: right;
}
.r_content{
	    width: 260px;
    padding: 0 17px;
    box-sizing: border-box;
    margin: 10px auto 0;
}
.r_content h2{
	    border-bottom: 2px solid #7e7e7e;
    padding: 3px 0;
}
.r_content h2 sub{
	 margin-left: 12px;
	 color: #999;
}
.r_content_item{
	margin-top: 30px;
	color: #999999;
	line-height: 30px;
	font-size: 14px;
}
.fuli_zc{
	width:1000px ;
	height: 120px;
	margin: 15px auto;
}
.fuli_zc img{
	width: 100%;
}

.pro_sercice{
	width: 1000px;
	height: 350px;
	margin: 0 auto;
	background: #fff;
}
.pro_l{
	width:300px ;
	height: 350px;
	float: left;
	background: #fafafa;
	box-shadow: inset -1px 0px 10px #D4D4D4;
}
.pro_l_code{
	width:260px ;
	height: 115px;
	margin: 20px auto;
	background: url(../images/BSHT_bjIcon.jpg)no-repeat;
	background-size: 100% 100%;
}
.code_wrap{
	width: 240px;
	padding:20px 5px;
	box-sizing: border-box;
	margin: 0 auto;
}
.code_img{
	float: left;
}
.code_wrap_content{
	float: right;
	
	color: #fff;
}
.code_wrap_content p{
	font-size: 16px;
	line-height: 30px;
}
.code_wrap_content a{
	width: 86px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: block;
	outline: none;
	text-decoration: none;
	color: #fff;
	background: #c8c7c7;
	border-radius: 4px;
}
.remark{
	color: #da251d;
	padding:20px 20px 0;
	font-size: 16px;
	
}
.meg_content{
	width: 260px;
	margin: 15px auto 0;
	font-size: 16px;
	color: #999;
	line-height: 30px;
}
.pro_r{
	width:700px ;
	height: 350px;
	float: right;
}
.pro_r h2{
	padding: 20px;
	color: #999;
}
.defer_pro{
	width: 700px;
	height: 270px;
	padding: 0 10px;
	box-sizing: border-box;
	margin-top: 16px;
}
.defer_pro_comm{
	width: 156px;
	height: 270px;
	float: left;
	color: #808080;
	border-right: 2px solid #e6e5eb;
	margin-left: 10px;
}
.defer_pro_4{
	border:none;
}
.defer_pro_4 img{
	margin-top: 10px;
	width: 100%;
}
.defer_pro_comm p{
	margin-top: 20px;
}


.boot{
	width: 100%;
	background: #2b1670;
	height: 247px;
	margin-top: 5px;
	box-shadow: inset 0 -10px 10px #1d0e4d;
	min-width: 1200px;
}

.boot_list{
	width: 1000px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	/*border-bottom: 1px solid #1d0e4d;*/
}
.boot_list ul{
	width: 610px;
	height: 15px;
	line-height: 15px;
	padding: 10px 0;
}
.boot_list .line{
	width: 1000px;
	height: 2px;
	background: #170b3f;
	/*display: block;*/
	box-shadow:0 2px 0px #3b1f98;
}
.boot_list ul li{
	width: 84px;
	float: left;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-right: 2px solid #d5d3df;
}

.boot_copy{
	width: 1000px;
	margin: 0 auto;
}
.boot_copy_l{
	width: 740px;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
}
.boot_copy_l p{
	color: #fff;
	font-size: 14px;
	line-height: 30px;
}

.boot_copy_r{
	width: 220px;
	float: right;
	margin-top: -150px;
}
.code_com {
	float: left;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.code_com_wap{
	width: 100px;
	height: 100px;
	background: #1b0d49;
	margin-left: 10px;
	margin-top: 10px;
	
}
.code_com_wap img{
	width: 80px;
	padding: 10px;
}



/*服务标准模块*/
.service_themeImg{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.service_themeImg img{
	width: 100%;
	float: left;
}
.service_model{
	width: 100%;
	height: 69px;
	line-height: 69px;
	background: #fff;
	border-bottom: 1px solid #ececec;
}
.service_content{
	width: 1000px;
	margin: 0 auto;
}
.service_content h2{
	float: left;
}
.service_content h2 span{
	margin-left: 30px;
	color: #999;
} 
.service_content .service_brand{
	font-size: 14px;
	color: #999;
	float: right;
}
.service_content .service_brand span.checked{
	color: #2b1670;
}


.service_conWrap{
	width: 1000px;
	margin: 0 auto;
}
.service_conWrap_nav{
	width: 710px;
	margin: 30px 0;
    height: 45px;
    font-size: 14px;
}
.service_conWrap_nav li{
	width: 120px;
	height: 45px;
	line-height: 45px;
	background: #fff;
	text-align:center ;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.service_conWrap_nav li.select{
	background: #2b1670;
	color: #fff;
}
.service_conWrap_content{
	width: 1000px;
	height: 840px;
	background: #fff;
	padding: 40px;
    box-sizing: border-box;
}

.service_step{
	    width: 70px;
    height: 30px;
    background: #ff0000;
    line-height: 30px;
    text-align: center;
    position: relative;
}
.service_step:after{
	display: block;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 70px;
    width: 0;
    height: 0;
    /*border-left: 15px solid transparent;*/
    border-left: 15px solid #ff0000;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    
}

.service_step{
	/*width: 150px;*/
	float: left;
}
.service_step_item{
	width: 800px;
    float: right;
    padding: 0 0 0 80px;
    box-sizing: border-box;
}
.service_step_item:after{
	content: "";
	display: block;
	
}
.dash_line:before{
	content: "";
    display: block;
    width: 0px;
    height: 320px;
    border: 1px dashed #999;
    float: left;
    margin-left: 6px;
    margin-top: 5px;
}
.dash_line1:before{
    height: 244px;
}
.dash_line2:before{
    height: 320px;
}

.service_flow_item_l {
	position: relative;
}
.dash_line,.dash_line3{
	width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 5px;
    left: 120px;
}
.dash_line:after,.dash_line3:after{
	content: "";
	display: block;
	width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 2px;
    left: 2px;
}
.service_step_item P{
	line-height: 25px;
}

#service_item h3{
	color: #ff0000;
	margin-bottom: 30px;
}
#service_item p{
	margin: 20px 0;
	font-size: 15px;
}
#Freight select{
	background: url(../images/sort_down.png)200px 8px no-repeat;
	background-size:15px 10px ;
	width: 230px;
	height: 26px;
	margin-bottom: 20px;
	-moz-appearance: none;
    -webkit-appearance:none;
            appearance:none;  
    border-radius: 4px;
    outline: none;
}

#Freight label{
	font-size: 14px;
    text-align: justify;
    letter-spacing: 8px;
    color: #8a8a8a;
    margin-left: 8px;
}
#Freight input{
	width: 60px;
	height: 24px;
	margin-bottom: 20px;
	outline: none;
	border-radius:4px ;
}
#Freight input.searchBtn{
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #8a8a8a;
	font-size: 14px;
	color: #fff;
	border: 0;
	outline: none;
	margin-left: 110px;
	margin-top: 20px;
	cursor: pointer;
	border-radius:4px ;
}
.show_freight{
	color: #8a8a8a;
	float: left;
}
.show_freight span{
	color: #da251d;
	font-size: 16px;
	margin: 0 10px 0 15px;
	font-weight:600 ;
}
.nowBuy{
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #da251d;
	font-size: 14px;
	color: #fff;
	border: 0;
	outline: none;
	margin-left: 30px;
	cursor: pointer;
	border-radius:4px ;
}
.watch{
	margin-top: 160px;
	overflow: hidden;
}
.watch h3{
	color: #da251d;
	float: left;
}
.watch p{
	color: #8a8a8a;
	line-height: 20px;
}

/*核心业务*/
.core_business_item{
	width: 920px;
	height: 124px;
	border: 1px dashed #cecece;
	margin-bottom: 20px;
	padding: 34px 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.core_business_item:hover{
	border: 1px solid #cecece;
}
#core_business div.core_business_itemSpe{
	height: 100px;
	padding: 17px 50px;
}
.core_business_itemIcon{
	width: 50px;
	height: 54px;
	background: url(../images/BSHT_serviceIcon.png)no-repeat;
	background-position:0 0 ;
	float: left;
	
}
.core_business_itemTex{
	float: right;
	width: 700px;
}
.core_business_itemTex h3 ,#Contraband h3{
	color: #da251d;
}
.core_business_itemTex p{
	line-height: 20px;
}
.core_business_itemIcon2{
	width: 60px;
	height: 59px;
	background-position:0 -58px ;
}
.core_business_itemIcon3{
	width: 54px;
	height: 65px;
	background-position:0 -119px ;
}
.core_business_itemIcon4{
	width: 62px;
	height: 61px;
	background-position:0 -182px ;
}
.core_business_itemIcon5{
	width: 55px;
	height: 61px;
	background-position:0 -244px ;
}
.core_business_itemIcon5{
	width: 54px;
	height: 58px;
	background-position:0 -304px ;
}

/*违禁物品*/
#Contraband .Contraband_text{
	margin: 20px 0 20px 20px;
}
