@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

html, body, .index_wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 10px;
	font-size: .1rem;
	font-family: Microsoft Yahei, Arial;
}
.index_wrap{
	background: #e1e1e1;
}
.game{
	width: 5.8rem;
	height: 5.8rem;
	background: #333;
	margin: 1.3rem auto;
}
