@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

html, body, .index_wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 10px;
	font-size: .1rem;
	font-family: Microsoft Yahei, Arial;
}
ul li{
	list-style: none;
}
.index_wrap{
	background: #e1e1e1;
}
.gameMainCon{
	width: 6.4rem;
	height: 6.4rem;
	/*background:url(../images/box-5.png)repeat;*/
	
	margin: 1.3rem auto;
}

.gameMainCon ul {
    /*box-sizing: border-box;
	padding:.08rem .05rem;*/
    height: 6.4rem;
    /*box-shadow: 0px 0px 4px 4px rgba(177, 117, 137, 0.5);*/
    overflow: hidden;
}
		
.gameMainCon ul li {
	width: .8rem;
	height: .8rem;
	float: left;
	list-style: none;
	background: #fff;
}

.gameMainCon ul li a {
	width: .75rem;
	height: .75rem;
	display: block;
	margin: 0 auto;
	text-decoration: none;
}
.gameMainCon ul li a img{
	width: 100%;
	border: 0;
}