<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="src/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="item,index in list">{{item}}---{{index}}</li>
			</ul>
			<ul>
				<li v-for="itemObj,key ,index in obj">{{itemObj}}---{{key}}---{{index}}</li>
			</ul>
		</div>
		<script>
			/*
			  v-for =“value(每一项),index(小标，可选参数) in arr” ---->循环数组
			   v-for =“value(每一项),key(key值)，index(小标，可选参数) in obj” --->循环对象 （很少 用 v-for循环对象）
			    数组是有序的   对象的 是无序的
			    
			    Object.keys()  ---->获取 对象中的 每一项 Key值，存在一个数组中
			  
			   
			 */
			var list = ['vue','vue2.0','vueX'];
			var obj = {
				a:'你',
				b:'我',
				c:'他'
			}
			var vm = new Vue({
				el:"#app",
				data:{
					list,
					obj
				}
			})
		</script>
	</body>
</html>
