<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="item,index, in list">{{item}}</li>
			</ul>
			<ul>
				<li v-for="value,key,index in obj">{{value}}</li>
			</ul>
		</div>
		<script>
			/*
			 指令，渲染列表指令
			 v-for
			语法 ： v-for="value,index in arr"
				v-for="value key,index in obj"
			 * */
			var vm = new Vue({
				el:'#app' , //挂在元素，这里也接受css选择器
				data:{// 数据对象   
					list:['leo','may','pin'],
					obj:{
						a:1,
						b:2,
						c:3
					}
				}
			})
		</script>
	</body>
</html>
