@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

i {
	font-style: normal;
	text-align: center;
}

html {
	font-size: 62.5%;
}

html, body, .contentBack, .comShineBack, .indexPage, .gamePage {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 10px;
	font-size: .1rem;
	font-family: Microsoft Yahei, Arial;
}
.contentBack {
	/*background: -webkit-radial-gradient(50% 50%, #83d5fb 0%, #89d8fb 10%, #85d6fb 30%, #7ad0fa 70%, #71ccfa 100%);*/
	width: 100%;
	position: relative;
}

#loadingPage {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background: -webkit-radial-gradient(50% 50%, #80f0cc 0%, #89f2d1 10%, #94f3d6 30%, #73eec5 70%, #63ecbd 100%);
}

/*.loadingImg {
	width: 2.5rem;
	
	box-sizing: border-box;
}

.loadingImg img {
	width: 100%;
}*/

.loadText {
	font-size: 20px;
	color: #4e6f9f;
	text-align: center;
	line-height: 50px;
	margin-top: 4rem;
	font-weight: 600;
}

.loadShape {
	width: 4.5rem;
	margin: 0 auto;
	background: #4e6f9f;
	border-radius: 10px;
	height: 10px;
	overflow: hidden;
}

#loadShapePro {
	border-radius: 10px;
	height: 10px;
	float: left;
	background: rgb(255, 244, 209);
	/* Old browsers */
	background: -webkit-linear-gradient(top, rgba(255, 244, 209, 1) 0%, rgba(255, 210, 47, 1) 40%, rgba(255, 187, 24, 1) 58%, rgba(255, 207, 46, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 244, 209, 1) 0%, rgba(255, 210, 47, 1) 40%, rgba(255, 187, 24, 1) 58%, rgba(255, 207, 46, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
	width: 0;
}

/*音乐*/
@-webkit-keyframes musicMove { 100% {
	-webkit-transform: rotate(360deg)
}

}
@keyframes musicMove { 100% {
	transform: rotate(360deg)
}

}
.musicPlay {
	-webkit-animation: musicMove 1s linear 0s infinite;
	animation: musicMove 1s linear 0s infinite;
}

.musicPause {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

/*首页*/
.indexPage {
	width: 100%;
	background: url(../images/act_16seventhDay_indexBj.jpg) center center no-repeat;
	background-size: 100% 100%;
}

.indexComImg {
	display: block;
	margin: 0 auto;
	width: 3.8rem;
}

.indexPagePeo {
	margin-top: -.45rem;
}

.indexPageTitle {
	width: 4.8rem;
	margin-top: 10%
}

#goToGamePage {
	width: 3rem;
	line-height: .78rem;
	height: .78rem;
	border-radius: 50px;
	background: linear-gradient(to bottom, #fcf9a5 0%, #fae78c 70%, #f9de80 100%);
	font-family: "楷体";
	font-size: 22px;
	font-weight: 600;
	color: #681c1b;
	box-shadow: 0 4px 2px rgba(208, 62, 81, 0.4);
	position: absolute;
	bottom: 1.8rem;
	left: 50%;
	margin-left:-1.5rem ;
	display: block;
	outline: none;
	border: none;
	text-align: center;
}

#goToGamePage span {
	background: url(../images/act_16coolIceBucket_textIcon.png) no-repeat;
	background-position: 16px 2px;
	background-size: 349% auto;
	display: block;
	width: 82px;
	height: 25px;
	line-height: 32px;
	margin: 0 auto;
	overflow: hidden;
}

#getActRule {
	color: #681c1b;
	font-family: SimHei;
	text-align: center;
	font-size: 20px;
	position: absolute;
	bottom: .8rem;
	left: 50%;
	margin-left: -.8rem;
	width: 1.6rem;
	line-height: 28px;
	border-bottom: 1px solid #681c1b;	
}

.actRuleShow_wrap,.gameOverWrap  {
	display: none;
}

.comWrap1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	box-sizing: border-box;
	padding-top: 1.5rem;
}


.comShowWrap1 {
	width: 5.6rem;
	background: linear-gradient(to bottom, #75f6ca 0%, #65edbf 30%, #50e1b0 50%, #42d8a6 70%, #35d19d 100%);
	border-radius: 20px;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 10px;
	box-sizing: border-box;
	position: relative;
}
.rulePeoloe{
	width: 2.4rem;
	position: absolute;
	top:-1rem;
	left: 50%;
	margin-left: -1.2rem;
}
.actRuleShow .actRuleShow_title {
	width: 1.8rem;
	margin: 1.2rem auto 0.2rem;
}

.actRuleShow .actRuleShow_title img {
	width: 100%;
}

.actRuleClose {
	position: absolute;
	right: -10px;
	top: -15px;
	width: 40px;
}


.comTextWrap1 {
	width: 4.8rem;
	margin: 0 auto;
	border-radius: 8px;
	padding:0 .3rem .2rem;
	color: #681c1b;
	font-weight: bold;
	overflow: hidden;
	font-size: 14px;
}

.actRuleText p {
	line-height: 28px;
	margin-left: .5rem;
}
.actRuleText span {
	float: left;
	line-height: 28px;
}
.actRuleScore_wrap {
	width: 1.2rem;
	overflow: hidden;
	margin: .2rem auto;
}

/*游戏页*/
.gamePage {
	/*display: none;*/
	background: url(../images/act_16seventhDay_gameBj.jpg)center center no-repeat;
	background-size: 100% 100%;
}

.gamePageTop {
	background: #63ecbe;
	width: 100%;
	height: 10%;
	padding: .1rem .2rem;
	box-sizing: border-box;
}

.gameClockIcon {
	height: 100%;
	overflow: hidden;
	width: 5rem;
	float: left;
}

.gameClockIcon img {
	max-height: 100%;
	width: .8rem;
	float: left;
}
.gameCountDown_wrap{
	width: 1rem;
    float: left;
    text-align: center;
    line-height: .95rem;
}
.gameCountDown_wrap p {
	font-size: 20px;
	color: #78232f;
}
.gameMusic_wrap {
	width: .8rem;
	float: right;
	box-sizing: border-box;
	padding-top: 2px;
}

.gameMusic_wrap img {
	width: 100%;
}


.gameMainCon{
	width: 6.3rem;
	height: 6.4rem;
	/*background:url(../images/box-5.png)repeat;*/
	margin: 1.3rem auto;
}

.gameMainCon ul {
    /*box-sizing: border-box;
	padding:.08rem .05rem;*/
    height: 6.4rem;
    /*box-shadow: 0px 0px 4px 4px rgba(177, 117, 137, 0.5);*/
    overflow: hidden;
}
		
.gameMainCon ul li {
	width: .65rem;
	height: .65rem;
	float: left;
	list-style: none;
	/*background: #ccc;*/
}

.gameMainCon ul li a {
	width: .6rem;
	height: .6rem;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	/*background: #C05757;*/
	border-radius: 50%;
}
.gameMainCon ul li a img{
	width: 100%;
	border: 0;
}
.freak {
	background:#4E6F9F;
}

.normal {
	background: #ccc;
}
.styleCat{
	background: #ff00ff;
}
.showOrigin{
	width: 5.8rem;
    margin: .3rem auto 0;
}
.showOriginBtn{
    float: right;
    width: 1.6rem;
    height: .9rem;
    border-radius: 16px;
    border: 0;
    background: #63ecbd;
    outline: none;
    font-size: 16px;
    line-height: .9rem;
    font-weight: 600;
}
/*原图*/
.game_origin{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    padding-top: 1.5rem;
    display: none;
}
.game_origin img{
	width: 5.4rem;
	margin: 0 auto;
	display: block;
}
/*游戏结果*/


.gameSuccWrap,.gameFailWrap {
	background: rgba(0, 0, 0, .8);
	z-index: 10;
	font-size: 16px;
	display: none;
	padding-top: 1rem;
}

.gameSuccWrap .gameFail,.gameFailWrap .gameFail {
	width: 5.2rem;
	background:transparent;
	padding-top:0 ;
}

.gameSuccWrap .gameFailText,.gameFailWrap .gameFailText {
	width: 3.5rem;
	padding: .4rem .2rem;
}


.gameFailTitle  img {
	width: 100%;
}
.gameFailTitle  img:nth-child(2) {
	width: 2.4rem;
	display: block;
	margin: -.5rem auto 0.3rem;
}
.gameFailBtn {
	width: 100%;
	border-radius: .4rem;
	margin: .26rem auto 0;
	/*box-sizing: border-box;*/
	height: 40px;
	line-height: 40px;
	display: block;
	outline: none;
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	border: 0;
	text-align: center;
}

.shareAppPage button:nth-child(1) {
	background: linear-gradient(to bottom, #ffc72f 0%, #ffbf1b 40%, #ffb400 100%);
}

.shareAppPage button:nth-child(2) {
	margin-top: 1rem;
	background: linear-gradient(to bottom, #73e76a 0%, #6fdb63 40%, #62b64f 100%);
}

.toGetReward {
	background: linear-gradient(to bottom, #ffc72f 0%, #ffbf1b 40%, #ffb400 100%);
}
.shareFri,#playAgain {
	background: linear-gradient(to bottom, #73e76a 0%, #6fdb63 40%, #62b64f 100%);
}
.downloadP{
	background: linear-gradient(to bottom, #fe3c3c 0%, #ea2f22 40%, #d01d00 100%);
}
/*#goToGetHb .gameFailBtn span {
	width: 112px;
	height: 25px;
	display: block;
	margin: 0 auto;
	background: url(../images/act_16coolIceBucket_textIcon.png) no-repeat;
	background-position: 12px -57px;
	background-size: 231% auto;
}*/

/*.gameFailText .shareFri {
	background: #ffaa17;
	box-shadow: inset 0 -6px 9px #ff790c;
}*/

/*.gameFailText .shareFri span {
	display: block;
	width: 134px;
	height: 25px;
	margin: 0 auto;
	background: url(../images/act_16coolIceBucket_textIcon.png) no-repeat;
	background-size: 194% auto;
	background-position: 14px -110px;
}*/



/*.yellowBtn {
	background: #a7d421;
	box-shadow: inset 0 -6px 9px #88bb10;
	border: 3px solid #fff;
}

.yellowBtn span {
	display: block;
	width: 112px;
	height: 25px;
	margin: 0 auto;
	background: url(../images/act_16coolIceBucket_textIcon.png) no-repeat;
	background-size: 231% auto;
	background-position: 14px -84px;
}*/

#shareFriSha {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 100;
	display: none;
}

#shareFriSha img {
	width: 4rem;
	display: block;
	margin: 0.5rem auto;
}

.promptDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 180px;
	height: 90px;
	z-index: 99;
	display: none;
}

.promptDiv .opDiv {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0% 0% #333;
	opacity: 0.5;
	border-radius: 10px;
}

.promptDiv .promptContent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.promptDiv img {
	display: block;
	margin: 12px auto 10px auto;
	width: 45px;
	height: 45px;
}

.promptDiv .title {
	text-align: center;
	color: #fff;
	font-size: 12px;
}