@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

i {
	font-style: normal;
	text-align: center;
}

html {
	font-size: 62.5%;
}

html,
body,
.contentBack,
.comShineBack,
.indexPage,
.gamePage {
	width: 100%;
	/*height:100%;*/
}

body {
	width:100%;
	font-size: 10px;
	font-size: .1rem;
	font-family: Microsoft Yahei, Arial;
	width: 6.4rem;
}

.content {
	width: 100%;
	position: relative;
	height: 9.4rem;
	background: url(../images/act_16coolIceBucket_indexBj.jpg)center center no-repeat;
	background-size: 100% 100%;
}


.indexComImg {
	width: 5rem;
	display: block;
	margin: 0 auto;
	padding-top: .4rem;
}

.childSty {
	width: 3rem;
	padding-top: 0;
	margin: -.6rem auto .2rem;
}

/*首页*/


.commShow_title img {
	width: 100%;
}

#getHbBtn {
	margin: .18rem auto .2rem;
	border: none;
	width: 100%;
	border-radius: .4rem;
	box-sizing: border-box;
	height: 44px;
	display: block;
	/*background: -webkit-linear-gradient(top, rgba(255, 230, 120, 1) 0%, rgba(255, 224, 79, 1) 51%, rgba(255, 223, 76, 1) 77%, rgba(255, 207, 35, 1) 90%, rgba(255, 212, 42, 1) 95%, #ffdd42 100%);
	background: linear-gradient(to bottom, rgba(255, 230, 120, 1) 0%, rgba(255, 224, 79, 1) 51%, rgba(255, 223, 76, 1) 77%, rgba(255, 207, 35, 1) 90%, rgba(255, 212, 42, 1) 95%, #ffdd42 100%);
	box-shadow: 0 2px 2px #ed3442, 0 -2px 0 #fff3c6;*/
	background: #a7d421;
	box-shadow: inset 0 -6px 9px #88bb10;
	border: 3px solid #fff;
	outline: none;
}

#getHbBtn span {
	display: block;
	width: 200px;
	height: 25px;
	margin: 0 auto;
	background: url(../images/0715_images/act_16coolIceBucket_textIcon.png) no-repeat;
	background-size: 126% auto;
	background-position: 16px -136px;
}

#getActRule {
	color: #761f2c;
	font-weight: 900;
	font-family: SimHei;
	text-align: center;
	font-size: 14px;
	position: absolute;
	bottom: .2rem;
	left: 0;
	width: 100%;
	line-height: 35px;
}

.actRuleShow_wrap {
	display: none;
}

.comWrap1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	box-sizing: border-box;
	padding-top: 1.5rem;
}


.comShowWrap1 {
	width: 5.6rem;
	background: #f7ac47;
	border-radius: 5px;
	box-shadow: 0 -2px #fcd8a0;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 10px;
	box-sizing: border-box;
	position: relative;
}

.actRuleShow h1 {
	background: url(images/act_16womenday_comText.png) 0 -180px no-repeat;
	background-size: 145% 462%;
	height: 50px;
	width: 2.5rem;
	margin: 0 auto;
	overflow: hidden;
}

.actRuleClose {
	position: absolute;
	right: -10px;
	top: -15px;
	width: 44px;
}


.comTextWrap1 {
	width: 5.3rem;
	margin: 0 auto;
	background: #ffe38d;
	border-radius: 8px;
	box-shadow: inset 1px 2px 2px #ab7121, inset -1px -2px 2px #ab7121;
	box-sizing: border-box;
	padding: .4rem;
	color: #761f2c;
	font-weight: bold;
}

.actRuleText p {
	font-size: 12px;
}

.actRuleScore_wrap {
	overflow: hidden;
	margin: .2rem auto;
}

.actRuleScore {
	float: left;
	margin-left: .34rem;
}

.actRuleScore i {
	display: block;
	width: 1.2rem;
	border-radius: 15px;
	height: .3rem;
	color: #f06476;
	font-size: 14px;
	font-weight: 600;
	margin-top: .1rem;
	;
}

.actRuleShow_wrap .actRuleScore:nth-child(1) {
	margin-left: .1rem;
}

/*.actRuleScore:nth-child(1) .actRuleAvatar span {
	background: url(images/act_16womenday_children1.png) 0 0 no-repeat;
	background-size: 100% 107%;
	display: block;
	width: 93%;
	height: 131%;
	margin: -31% auto 0;
}

.actRuleScore:nth-child(2) .actRuleAvatar span {
	background: url(images/act_16womenday_children2.png) 0 0 no-repeat;
	background-size: 100% 95%;
	display: block;
	width: 100%;
	height: 131%;
	margin: -11% auto 0;
}

.actRuleScore:nth-child(3) .actRuleAvatar span {
	background: url(images/act_16womenday_children3.png) 0 0 no-repeat;
	background-size: 100% 91%;
	display: block;
	width: 95%;
	height: 131%;
	margin: -8% auto 0;
}*/

.actRuleAvatar {
	display: block;
	border-radius: 50%;
	background: #fff;
	width: 1.2rem;
	height: 1.2rem;
	overflow: hidden;
}

.shadAndTick {
	position: relative;
	/* margin-top:-1.39rem; */
}

#getHbText {
	line-height: .8rem;
	/* height: .6rem; */
	position: absolute;
	/* border-top: 1px dashed #ec1b00; */
	top: -1.5rem;
	/* left: 2.8rem; */
	color: #ec1b00;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	width: 6.4rem;
}

#getHbValWrap {
	/* height: .6rem; */
	line-height: .6rem;
	/* border-top: 1px dashed #ec1b00; */
	width: 6.4rem;
	margin: 0 auto;
	position: absolute;
	top: -.8rem;
	/* left: 3rem; */
	color: #ec1b00;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
}

#getHbVal {
	font-size: .7rem;
}

.getHb {
	width: 4.59rem;
	margin: 0 auto;
	/*padding-top:.4rem*/
}

#userPhone {
	width: 100%;
	outline: none;
	border: 0;
	height: 44px;
	line-height: .72rem;
	box-sizing: border-box;
	color: #7da277;
	text-align: center;
	border-radius: .4rem;
	background: #e7e7e7;
	font-size: 18px;
	border: 3px solid #fff;
}

::-moz-placeholder {
	color: #7da277;
	text-align: center;
	font-family: ""
}

:-ms-input-placeholder {
	color: #7da277;
	text-align: center;
}

::-webkit-input-placeholder {
	color: #7da277;
	text-align: center;
}

#downText {
	font-size: 18px;
	font-family: 黑体;
	font-weight: 900;
	text-align: center;
	/*line-height:.4rem;*/
	color: #0d4b6e;
}


.has_received,
.receive_success {
	width: 4rem;
	margin: 0.3rem auto .5rem;
	border-radius: 5px;
	box-sizing: border-box;
	background: #48ddf4;
	border: .06rem solid #761f2c;
}

.getHbnNum img:nth-child(1) {
	width: 3.3rem;
	margin: .3rem auto;
	display: block;
}

.getHbnNum img:nth-child(2) {
	width: 3.5rem;
	margin: 0 auto .2rem;
	display: block;
}


/* 看看好友的手气*/

.comshowTitleText {
	text-align: center;
	line-height: 40px;
	font-weight: 600;
	font-size: 16px;
	color: #761f2c;
	height: 40px;
	width: 4.8rem;
	margin: .2rem auto;
	overflow: hidden;
}

.comShowTitle {
	color: #761f2c;
	height: 40px;
	width: 4.8rem;
	padding: 0 .2rem;
	margin: .2rem auto;
	overflow: hidden;
	position: relative;
}

.friHbShow {
	margin: .2rem auto;
	width: 6.2rem;
	overflow: hidden;
	font-size: 12px;
	border-bottom: 1px solid #4ebaf8;
}

.userFriAvatat {
	width: 81%;
	overflow: hidden;
	float: left;
}

.userFriAvatat img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 10%;
}

.userFriInf_wrap {
	width: 18%;
	float: right;
	box-sizing: border-box;
	overflow: hidden;
}

.userFriInf {
	float: left;
	margin-left: .2rem;
	width: 80%;
	margin-bottom: .3rem;
}

.userFriInf strong {
	font-size: 14px;
	color: #4ebaf8;
	line-height: 20px;
}

.userFriHbValue_wrap {
	width: 100%;
	height: 40px;
	float: right;
	text-align: center;
	background: url(../images/act_16coolIceBucket_receive_couponIcon.png) 0px 0 no-repeat;
	background-size: 100% 90%;
	overflow: hidden;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
}

.userFriHbValue {
	font-size: 20px;
}

.userFriInf p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	color: #4ebaf8;
	line-height: 20px;
}

.activeRuleShow {
	width: 6.2rem;
	margin: 0 auto;
	padding-bottom: .5rem;
	color: #4ebaf8;
	line-height: 30px;
	font-size: 14px;
}


/* 新加样式 */

.receive_success_desc p {
	line-height: 40px;
	color: #000;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
}

.receive_success_desc .hasReceived {
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	font-weight: 600;
}

.common_useStyle {
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: .3rem;
	width: 5rem;
}
.gethb_people {
	position: absolute;
    width: 1.3rem;
    left: 0.4rem;
    top: 3.75rem;
}
.gethb_bucket {     position: absolute;
    width: 1rem;
    right: .6rem;
    top: 3.3rem;
}
.use_btn {
	margin: .25rem auto;
	border: none;
	width: 100%;
	border-radius: .4rem;
	box-sizing: border-box;
	height: 44px;
	display: block;
	border: 3px solid #fff;
	background: -webkit-linear-gradient(to bottom, rgba(255, 148, 190, 1) 0%, rgba(255, 114, 38, 1) 51%, rgba(255, 102, 19, 1) 77%, rgba(255, 55, 12, 1) 90%, rgba(255, 47, 21, 1) 95%, #ff945a 100%);
    background: linear-gradient(to bottom, rgba(255, 148, 190, 1) 0%, rgba(255, 114, 38, 1) 51%, rgba(255, 102, 19, 1) 77%, rgba(255, 55, 12, 1) 90%, rgba(255, 47, 21, 1) 95%, #ff945a 100%);
}

.use_btn span {
	display: block;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    background: url(../images/0715_images/act_16coolIceBucket_textIcon.png) no-repeat;
    background-size: 120% auto;
    background-position: 10px -160px;
}

.shareFri {
	margin: .25rem auto;
	border: none;
	width: 100%;
	border-radius: .4rem;
	box-sizing: border-box;
	height: 44px;
	display: block;
	box-shadow: inset 0 2px 2px 0 #def3e5;
	background: -webkit-linear-gradient(to bottom, rgba(194, 255, 100, 1) 1%, rgba(168, 213, 36, 1) 41%, rgba(167,212, 33, 1) 66%, rgba(155, 203, 26, 1) 80%, #88bb10 90%, rgba(143, 191, 20, 1) 95%, #abcf29 100%);
	background: linear-gradient(to bottom, rgba(194, 255, 100, 1) 1%, rgba(168, 213, 36, 1) 41%, rgba(167,212, 33, 1) 66%, rgba(155, 203, 26, 1) 80%, #88bb10 90%, rgba(143, 191, 20, 1) 95%, #abcf29 100%);
    border: 3px solid #fff;
}

.shareFri span {
	display: block;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    background: url(../images/0715_images/act_16coolIceBucket_textIcon.png) no-repeat;
    background-size: 126% auto;
    background-position: 16px -136px;
}

.ActRule_content {
	color: #fffd89;
	padding: 0rem .1rem;
	line-height: 25px;
}


/*app固定样式  */

.shareAppPage {
	display: none;
	width: 4.6rem;
	margin: .25rem auto;
}

.shareAppPage img {
	width: 4.5rem;
}



#shareFriSha {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 100;
	display: none;
}

#shareFriSha img {
	width: 100%;
}

.promptDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 180px;
	height: 90px;
	z-index: 99;
	display: none;
}

.promptDiv .opDiv {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0% 0% #333;
	opacity: 0.5;
	border-radius: 10px;
}

.promptDiv .promptContent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.promptDiv img {
	display: block;
	margin: 12px auto 10px auto;
	width: 45px;
	height: 45px;
}

.promptDiv .title {
	text-align: center;
	color: #fff;
	font-size: 12px;
}