.content {
	width: 100%;
	background:#f8f7f6
}

.indexPage {
	width: 100%;
}


.content_top {
	width: 6.4rem;
	margin: 0 auto .2rem;
	overflow: hidden;
}

.content_top img {
	width: 100%;
	float: left;
}
.commomLogin_coupon {
	width: 4rem;
	margin: -0.35rem auto .2rem;
}
.commomLogin_coupon img{
	width: 100%;
}

/*输入框样式*/
.commomLogin {
	width: 5rem;
	margin: 0 auto;
}

#userPhone {
	width: 100%;
	outline: none;
	border: 2px solid #eb5a3e;
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
	color: #545454;
	text-align: center;
	background: #fff;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 600;
}

::-moz-placeholder {
	color: #545454;
	text-align: center;
	font-family: ""
}

:-ms-input-placeholder {
	color: #545454;
	text-align: center;
}

::-webkit-input-placeholder {
	color: #545454;
	text-align: center;
}

#getHbBtn {
	font-size: 18px;
	width: 5rem;
	line-height: 52px;
	height: 50px;
	border-radius: 6px;
	outline: none;
	border: 0;
	color: #fff;
	background: #308eeb;
	margin: .25rem auto 0;
	display: block;
	font-weight: 600;
	box-shadow: 0 6px 0 #1462b0;
	/*text-shadow: 2px 0px 0px #fff , -2px 0px 0px #fff,0px 2px 0px #fff,0px -2px 0px #fff;*/
}

#downText {
	font-size: 18px;
	font-family: 黑体;
	text-align: center;
	color: #000;
	text-decoration: underline;
	line-height: 1rem;
}
/*领取结果样式*/
.getHbnNum {
	width: 5rem;
	margin: 0.2rem auto 0;
	overflow: hidden;
}

.getHbnNum img {
	width: 100%;
}
/*.coupon_value{
	     background: url(images/act_16gxy_coupon.png) center center no-repeat;
		  background-size: 100% 100%;
		  width: 2.2rem;
		  height: 2rem;
		  font-size: 1.5rem;
		  line-height: 2rem;
		  color: #fff;
		  font-weight: 600;
		  display: block;
		  margin: auto;
		  float: left;
		  padding-left: 2.8rem;
   }*/
.receiveResult {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	text-align: center;
	margin: .1rem auto 0;
}

.commUsebtn {
	width: 5rem;
	overflow: hidden;
	margin: 0 auto;
}

.commUsebtn button {
	  color: #fff;
	  font-weight: 600;
	  font-size: 18px;
	  width: 2.3rem;
	  line-height: .8rem;
	  height: .8rem;
	  border-radius: 6px;
	  background: #308eeb;
	  box-shadow: 0 5px 0 #1462b0;
	  margin: .2rem auto;
	  display: block;
	  outline: none;
	  border: none;
}

.use_btn {
	float: left;
}

.shareFri {
	float: right;
}





/* 看看好友的手气*/
.comShowTitle {
	color: #920003;
	height: 40px;
	width: 6.2rem;
	margin: .2rem auto;
	overflow: hidden;
	position: relative;
}

.leftLineDot {
	overflow: hidden;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	padding-right: .3rem;
	padding-top: 19px;
	box-sizing: border-box;
	width: 1.7rem;
}

.leftLineDot span {
	float: left;
	background: #920003;
}

.leftLineDot span:nth-child(2) {
	position: absolute;
	right: 3px;
	top: 15px;
}

.rightLineDot {
	padding: 19px 0 0 .3rem;
	right: 0;
	overflow: hidden;
	height: 40px;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	width: 1.7rem;
}

.rightLineDot span {
	float: right;
	background: #920003;
}

.rightLineDot span:nth-child(1) {
	position: absolute;
	left: 3px;
	top: 15px;
}

.comshowTitleText {
	text-align: center;
	line-height: 40px;
	width: 2.8rem;
	margin: 0 auto;;
	font-size: 16px;
}

.friHbShow {
	margin: .2rem auto;
	width: 6.2rem;
	overflow: hidden;
	font-size: 12px;
	border-bottom: 1px dashed #ffa1a5;
}

.userFriAvatat {
	width: 81%;
	overflow: hidden;
	float: left;
}

.userFriAvatat img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 50%;
}

.userFriInf_wrap {
	width: 18%;
	float: right;
	box-sizing: border-box;
	overflow: hidden;
}

.userFriInf {
	float: left;
	margin-left: .2rem;
	width: 80%;
	margin-bottom: .3rem;
}

.userFriInf strong {
	font-size: 14px;
	color: #dd000a;
	line-height: 20px;
}

.userFriHbValue_wrap {
	width: 100%;
	height: 35px;
	float: right;
	background: url(../images/act_16gxy_coupon_icon.png) 0px 0 no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	line-height: 35px;
	color: #fff;
}

.userFriHbValue {
	font-size: 26px;
	position: relative;
	font-weight: 600;
	padding-left: .28rem;
}

.userFriHbValue span {
	font-size: 20px;
	position: absolute;
	font-weight: 400;
	left: .55rem;
}

.userFriInf p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	color: #000;
	line-height: 20px;
}

.activeRuleShow {
	width: 6.2rem;
	margin: 0 auto;
	padding-bottom: .5rem;
	color: #920003;
	line-height: 30px;
	font-size: 14px;
}

/*app分享按钮固定样式  */
.shareAppPage {
	display: none;
	width: 5.6rem;
	overflow: hidden;
	margin: 1rem auto;
	}

.shareAppPage button {
	color: #fff;
	  font-weight: 600;
	  font-size: 18px;
	  width: 2.5rem;
	  line-height: 1rem;
	  height: 1rem;
	  border-radius: 6px;
	  background: #308eeb;
  	  box-shadow: 0 5px 0 #1462b0;
	  margin: .2rem auto;
	  display: block;
	  outline: none;
	  border: none;
}

.shareAppPage button:nth-child(1) {
	float: left;
}

.shareAppPage button:nth-child(2) {
	float: right;
}
/*分享遮罩样式*/
#shareshade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(50, 50, 50, .8);
	z-index: 9999;
	display: none;
}

.promptDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 180px;
	height: 90px;
	z-index: 99;
	display: none;
}

.promptDiv .opDiv {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0% 0% #333;
	opacity: 0.5;
	border-radius: 10px;
}

.promptDiv .promptContent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.promptDiv img {
	display: block;
	margin: 12px auto 10px auto;
	width: 45px;
	height: 45px;
}

.promptDiv .title {
	text-align: center;
	color: #fff;
	font-size: 12px;
}