body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:20px;
  width:300px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:30px;
  width:260px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:256px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:76px;
  width:80px;
  height:84px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:170px;
  width:70px;
  height:86px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
#u7 {
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:116px;
  width:80px;
  height:84px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:270px;
  top:200px;
  width:90px;
  height:90px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:210px;
  top:270px;
  width:80px;
  height:84px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:84px;
}
#u13 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:360px;
  width:90px;
  height:90px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:100px;
  top:100px;
  width:241px;
  height:416px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:416px;
}
#u17 {
  position:absolute;
  left:2px;
  top:200px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:136px;
  top:144px;
  width:170px;
  height:70px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:70px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:160px;
  top:224px;
  width:119px;
  height:130px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:130px;
}
#u21 {
  position:absolute;
  left:2px;
  top:57px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:110px;
  top:385px;
  width:221px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:141px;
  top:416px;
  width:165px;
  height:34px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:141px;
  top:460px;
  width:165px;
  height:34px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
