* {
	margin: 0;
	padding: 0;
}

i {
	font-style: normal;
	text-align: center;
}

html {
	font-size: 62.5%;
}

html,
body,
.contentBack,
.comShineBack,
.indexPage,
.gamePage {
	width: 100%;
	/*height:100%;*/
}

body {
	width100%;
	font-size: 10px;
	font-size: .1rem;
	font-family: Microsoft Yahei, Arial;
	width: 6.4rem;
}

.content {
	width: 100%;
	position: relative;
}

.contentBack {
	/*background:-webkit-radial-gradient(50% 50%,#f58999 0%,#f58797 10%,#f48293 30%,#f16a7b 70%, #ed5063 100%);*/
	background: -webkit-radial-gradient(50% 50%, #f58999 0%, #f58797 10%, #f48293 30%, #ed4e61 70%, #ed4e61 100%);
	width: 100%;
	position: relative;
	height: 9.4rem;
}

.comShineBack {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	/*display:none;*/
	z-index: 1;
}

.comShineBack img {
	width: 100%;
	height: 9.4rem;
	float: left;
}

#loadingPage {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background: transparent;
}


/*首页*/

.indexPage {
	width: 100%;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.indexComImg {
	display: block;
	margin: -.55rem auto 0;
}

.indexPageTitle {
	width: 5.4rem;
	margin-top: 6%
}

#getHbBtn {
	margin: .18rem auto .2rem;
	border: none;
	width: 100%;
	border-radius: .4rem;
	box-sizing: border-box;
	height: 44px;
	display: block;
	background: -webkit-linear-gradient(top, rgba(255, 230, 120, 1) 0%, rgba(255, 224, 79, 1) 51%, rgba(255, 223, 76, 1) 77%, rgba(255, 207, 35, 1) 90%, rgba(255, 212, 42, 1) 95%, #ffdd42 100%);
	background: linear-gradient(to bottom, rgba(255, 230, 120, 1) 0%, rgba(255, 224, 79, 1) 51%, rgba(255, 223, 76, 1) 77%, rgba(255, 207, 35, 1) 90%, rgba(255, 212, 42, 1) 95%, #ffdd42 100%);
	box-shadow: 0 2px 2px #ed3442, 0 -2px 0 #fff3c6;
}

#getHbBtn span {
	background: url(../images/act_16womenday_comText.png) 0 -94px no-repeat;
	background-size: 111% 1005%;
	display: block;
	width: 2.7rem;
	height: 60%;
	margin: 0 auto;
	overflow: hidden;
}

#getActRule {
	color: #761f2c;
	font-weight: 900;
	font-family: SimHei;
	text-align: center;
	font-size: 14px;
	position: absolute;
	bottom: .2rem;
	left: 0;
	width: 100%;
	line-height: 35px;
}

.actRuleShow_wrap {
	display: none;
}

.comWrap1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	box-sizing: border-box;
	padding-top: 1.5rem;
}

.actRuleShow {}

.comShowWrap1 {
	width: 5.6rem;
	/*max-height:80%;*/
	background: #f7ac47;
	border-radius: 5px;
	box-shadow: 0 -2px #fcd8a0;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 10px;
	box-sizing: border-box;
	position: relative;
}

.actRuleShow h1 {
	background: url(../images/act_16womenday_comText.png) 0 -180px no-repeat;
	background-size: 145% 462%;
	height: 50px;
	;
	width: 2.5rem;
	margin: 0 auto;
	overflow: hidden;
}

.actRuleClose {
	position: absolute;
	right: -10px;
	top: -15px;
	width: 44px;
}

.actRuleText {}

.comTextWrap1 {
	width: 5.3rem;
	margin: 0 auto;
	background: #ffe38d;
	border-radius: 8px;
	box-shadow: inset 1px 2px 2px #ab7121, inset -1px -2px 2px #ab7121;
	box-sizing: border-box;
	padding: .4rem;
	color: #761f2c;
	font-weight: bold;
}

.actRuleText p {
	font-size: 12px;
}

.actRuleScore_wrap {
	overflow: hidden;
	margin: .2rem auto;
}

.actRuleScore {
	float: left;
	margin-left: .34rem;
}

.actRuleScore i {
	display: block;
	width: 1.2rem;
	border-radius: 15px;
	height: .3rem;
	color: #f06476;
	font-size: 14px;
	font-weight: 600;
	margin-top: .1rem;
	;
}

.actRuleShow_wrap .actRuleScore:nth-child(1) {
	margin-left: .1rem;
}

.actRuleScore:nth-child(1) .actRuleAvatar span {
	background: url(../images/act_16womenday_children1.png) 0 0 no-repeat;
	background-size: 100% 107%;
	display: block;
	width: 93%;
	height: 131%;
	margin: -31% auto 0;
}

.actRuleScore:nth-child(2) .actRuleAvatar span {
	background: url(../images/act_16womenday_children2.png) 0 0 no-repeat;
	background-size: 100% 95%;
	display: block;
	width: 100%;
	height: 131%;
	margin: -11% auto 0;
}

.actRuleScore:nth-child(3) .actRuleAvatar span {
	background: url(../images/act_16womenday_children3.png) 0 0 no-repeat;
	background-size: 100% 91%;
	display: block;
	width: 95%;
	height: 131%;
	margin: -8% auto 0;
}

.actRuleAvatar {
	display: block;
	border-radius: 50%;
	background: #fff;
	width: 1.2rem;
	height: 1.2rem;
	overflow: hidden;
}

.shadAndTick {
	position: relative;
	/* margin-top:-1.39rem; */
}

#getHbText {
	line-height: .8rem;
	/* height: .6rem; */
	position: absolute;
	/* border-top: 1px dashed #ec1b00; */
	top: -1.5rem;
	/* left: 2.8rem; */
	color: #ec1b00;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	width: 6.4rem;
}

#getHbValWrap {
	/* height: .6rem; */
	line-height: .6rem;
	/* border-top: 1px dashed #ec1b00; */
	width: 6.4rem;
	margin: 0 auto;
	position: absolute;
	top: -.8rem;
	/* left: 3rem; */
	color: #ec1b00;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
}

#getHbVal {
	font-size: .7rem;
}

.getHb {
	width: 4.59rem;
	margin: 0 auto;
	/*padding-top:.4rem*/
}

#userPhone {
	width: 100%;
	outline: none;
	border: 0;
	height: 44px;
	line-height: .72rem;
	box-sizing: border-box;
	background: #fff;
	color: #000;
	text-align: center;
	background: transparent;
	border-radius: .4rem;
	background: #fff;
	font-size: 18px;
}

::-moz-placeholder {
	color: #000;
	text-align: center;
	font-family: ""
}

:-ms-input-placeholder {
	color: #000;
	text-align: center;
}

::-webkit-input-placeholder {
	color: #000;
	text-align: center;
}

#downText {
	font-size: 18px;
	font-family: 黑体;
	font-weight: 600;
	text-align: center;
	/*line-height:.4rem;*/
	color: #761f2c;
}

.gethb_girl {
	position: absolute;
	width: 1.25rem;
	left: 0.3rem;
	top: 4rem;
}

.gethb_boy {
	position: absolute;
	width: 1.3rem;
	right: .45rem;
	top: 4.35rem;
}

.has_received,
.receive_success {
	display: none;
	width: 4rem;
	margin: 0 auto;
	border-radius: 5px;
	box-sizing: border-box;
	background: #48ddf4;
	border: .06rem solid #761f2c;
}

.getHbnNum img:nth-child(1) {
	width: 3rem;
	margin: .2rem auto;
	display: block;
}

.getHbnNum img:nth-child(2) {
	width: 3.5rem;
	margin: 0 auto .2rem;
	display: block;
}


/* 看看好友的手气*/

.comshowTitleText {
	text-align: center;
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #761f2c;
    height: 40px;
    width: 5rem;
    margin: .2rem auto;
    overflow: hidden;
    padding-top: .5rem;
}
.comshowTitleText img {
    width: 100%;
}
.friHbShow {
	margin: .2rem auto;
	width: 6.2rem;
	overflow: hidden;
	font-size: 12px;
	border-bottom: 1px solid #761f2c;
}

.userFriAvatat {
	width: 81%;
	overflow: hidden;
	float: left;
}

.userFriAvatat img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 10%;
}

.userFriInf_wrap {
	width: 18%;
	float: right;
	box-sizing: border-box;
	overflow: hidden;
}

.userFriInf {
	float: left;
	margin-left: .2rem;
	width: 80%;
	margin-bottom: .3rem;
}

.userFriInf strong {
	font-size: 14px;
	color: #761f2c;
	line-height: 20px;
}

.userFriHbValue_wrap {
	width: 100%;
	height: 40px;
	float: right;
	text-align: center;
	background: url(../images/act_16womenday_valueback.png) 0px 0 no-repeat;
	background-size: 100% 90%;
	overflow: hidden;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
}

.userFriHbValue {
	font-size: 20px;
}

.userFriInf p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	color: #761f2c;
	line-height: 20px;
}

.activeRuleShow {
	width: 6.2rem;
	margin: 0 auto;
	padding-bottom: .5rem;
	color: #761f2c;
	line-height: 30px;
	font-size: 14px;
}


/* 新加样式 */

.receive_success_desc p {
	line-height: 40px;
	color: #000;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
}

.receive_success_desc .hasReceived {
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	font-weight: 600;
}

.downloadP {
	/*margin-top: .2rem;*/
}

.common_useStyle {
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: .3rem;
	width: 5rem;
}

.use_btn {
	margin: .25rem auto;
	border: none;
	width: 100%;
	border-radius: .4rem;
	box-sizing: border-box;
	height: 44px;
	display: block;
	background: -webkit-linear-gradient(top, rgba(255, 230, 120, 1) 0%, rgba(255, 224, 79, 1) 51%, rgba(255, 223, 76, 1) 77%, rgba(255, 207, 35, 1) 90%, rgba(255, 212, 42, 1) 95%, #ffdd42 100%);
	background: linear-gradient(to bottom, rgba(255, 230, 120, 1) 0%, rgba(255, 224, 79, 1) 51%, rgba(255, 223, 76, 1) 77%, rgba(255, 207, 35, 1) 90%, rgba(255, 212, 42, 1) 95%, #ffdd42 100%);
	box-shadow: 0 2px 2px #ed3442, 0 -2px 0 #fff3c6;
}

.use_btn span {
	background: url(../images/act_16womenday_comText.png) 0 -102px no-repeat;
	background-size: 100% 842%;
	display: block;
	height: 60%;
	margin: 0 auto;
	overflow: hidden;
	width: 2.7rem;
}

.shareFri {
	margin: .25rem auto;
	border: none;
	width: 100%;
	border-radius: .4rem;
	box-sizing: border-box;
	height: 44px;
	display: block;
	box-shadow: inset 0 2px 2px 0 #def3e5;
	background: -webkit-linear-gradient(top, rgba(101, 226, 241, 1) 1%, rgba(76, 222, 244, 1) 41%, rgba(76, 222, 244, 1) 66%, rgba(55, 207, 239, 1) 80%, #34cbed 90%, rgba(56, 207, 239, 1) 95%, #5adbf1 100%);
	background: linear-gradient(to bottom, rgba(101, 226, 241, 1) 1%, rgba(76, 222, 244, 1) 41%, rgba(76, 222, 244, 1) 66%, rgba(55, 207, 239, 1) 80%, #34cbed 90%, rgba(56, 207, 239, 1) 95%, #5adbf1 100%);
}

.shareFri span {
	background: url(../images/act_16womenday_comText.png) 0 -126px no-repeat;
	background-size: 130% 842%;
	display: block;
	width: 2.2rem;
	height: 60%;
	margin: 0 auto;
	overflow: hidden;
}

.ActRule_content {
	color: #fffd89;
	padding: 0rem .1rem;
	line-height: 25px;
}


/*app固定样式  */

.shareAppPage {
	display: none;
	width: 4.6rem;
	margin: .25rem auto;
}

.shareAppPage img {
	width: 4.5rem;
}

.noLoginBox {
	margin: 4.5rem auto 0;
	/* width: 4rem; */
	width: 60%;
	text-align: center;
	background: #fff;
	/* line-height: 40px; */
	border-radius: 5%;
	height: 20%;
}

.closeShade {
	width: 60px;
	float: right;
	color: #333;
	font-size: 16px;
	text-align: center;
	height: 60px;
	border-radius: 15px;
	position: absolute;
	top: 4.6rem;
	right: 1rem;
}

.closeShade span {
	width: 20px;
	height: 20px;
	line-height: 20px;
	border: .03rem solid #333;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.sureButn {
	display: block;
	width: 54%;
	color: #fff;
	text-align: center;
	font-size: .4rem;
	box-sizing: border-box;
	line-height: 38px;
	border-radius: 8px;
	background: #fff;
	margin: 0 auto;
	border: 0;
	background: #ce3537;
	color: 18px;
	font-size: 18px;
}

.common_boxSty {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 110;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
}

.contBottom {
	position: fixed;
	bottom: 88px;
	left: 0;
	/* width: 100%; */
	width: 20px;
	height: 10px;
	-webkit-border-radius: 0 0 200px 200px;
	background: #ed4e61;
}

#shareFriSha {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 100;
	display: none;
}

#shareFriSha img {
	width: 100%;
}