body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:72px;
  top:20px;
  width:300px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:134px;
  top:30px;
  width:62px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:30px;
  width:260px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:149px;
  top:35px;
  width:52px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:90px;
  top:220px;
  width:60px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:181px;
  top:160px;
  width:70px;
  height:86px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
#u11 {
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:275px;
  top:210px;
  width:90px;
  height:90px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:202px;
  top:273px;
  width:73px;
  height:57px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:57px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:100px;
  top:304px;
  width:70px;
  height:86px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:86px;
}
#u17 {
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:181px;
  top:440px;
  width:115px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:100px;
  width:73px;
  height:57px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:57px;
}
#u21 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:287px;
  top:73px;
  width:73px;
  height:57px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:57px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
