@CHARSET "UTF-8";
@charset "utf-8";
/**----------公用css---------**/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,input{margin: 0;padding: 0;}
body{width:100%;font-family:"\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";font-size:12px;border: 0px none;outline: 0px none;vertical-align: baseline;min-width:1280px;}
.clearfix:after{content:".";visibility:hidden;overflow:hidden;display:block;clear:both;height:0;}
.clearfix{*zoom:1;}
a:hover{color:#000;cursor:pointer;text-decoration: none;}
a, a:link{color:#000;cursor:pointer;text-decoration: none;}
a:visited{color:#000;cursor:pointer;text-decoration: none;}
button{cursor:pointer;}
/**库**/
.ihide {display:none}
.fs18{font-size:18px;}
.fs16{font-size:16px;}
.fs14{font-size:14px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mb15{margin-bottom:15px;}
.mb10{margin-bottom:10px;}
.mb5{margin-bottom:5px;}
.mtb5{margin-top:5px;margin-bottom:5px;}
.cred{color:#f33131;}
.ca6{color:#a6a6a6;}
.fll{float:left;}
.flr{float:right;}
.tar{text-align: right;}
.dpb{display:block;}
.tac{text-align: center;}
.tal{text-align: left;}
.lh20{line-height:20px;}
.dpib{display:inline-block;}
/**内容样式**/
.rline{border-right:1px solid #a7a7aa;}
.bline{border-bottom:1px solid #a7a7aa;}
.tline{border-top:1px solid #a7a7aa;}
.shadeDiv{display:none;left:0;top:0;position:absolute;width:100%;height:100%;z-index:7;background:#aeaeae;opacity: 0.7;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;}
.waitAll{position:absolute;display:none;z-index:8;}
table {border-collapse: collapse;border-spacing: 0px;}
#shadeWaitDiv{display:none;left:0;top:0;position:absolute;width:100%;height:100%;z-index:7;background:#aeaeae;opacity: 0.7;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;}
/**导航**/
ul{list-style: none;}

/**提示层**/
.promptDiv{position: absolute;left: 0px;top: 0px;width: 200px;height: 120px;z-index: 9;display:none;}
.promptDiv .opDiv{position:absolute;left:0;top:0;width: 100%;height: 100%;background: none repeat scroll 0% 0% #333;opacity: 0.5;border-radius:10px;}
.promptDiv .promptContent{position:absolute;left:0;top:0;width: 100%;height: 100%;}
.promptDiv img{display:block;margin:22px auto 10px auto;width:45px;height:45px;}
.promptDiv .title{text-align: center;color:#fff;margin-top:15px;}

/****/
.location{font-size:12px;width:100%;height:35px;line-height:35px;background:#fff;text-indent:20px;}
.location{}
.location a{}
.location a:hover{color:#ffa836;}
.content{width:87%;height:100%;float:left;margin-left:0.5%;}
/* 添加活动图片 */
.nopic_back img{width:100%;height:100%;}
/*头部*/
			.nav_menu{width:100%;}
			.header{width:100%;background:#eee;}
			.hcenter{width:1160px;margin:0 auto;overflow: hidden;font-weight:600;min-width:1160px;
			-webkit-user-select: none;  /* Chrome all / Safari all */
			-moz-user-select: none;     /* Firefox all */
			-ms-user-select: none;      /* IE 10+ */
			-o-user-select: none;
			user-select: none;
			}
			.header .pharmacy{font-size:20px;line-height: 60px;}
			.header .company{font-size:16px;}
			.header .user{float:right;line-height: 60px;font-size:16px;}
			.header .user a{color:#000;text-decoration:underline;}
			#cancel{margin-left:40px}
			/*导航*/
			#navigation{
				width:100%;background:#444;position:relative; box-shadow:0px -2px 2px #999,0px 2px 2px #999;
			}
			.menu_line{position:absolute;height:2px;background:#ffa836;bottom:0px;}
			.nav{width:1160px;}
			#navigation ul li{float:left;}
			#navigation ul li .navItem{color:#fff;line-height:40px;display:block;padding:0 42px;
			font-size:16px;}
			
			/*左侧导航条*/
			.left{float:left;background:#eee;width:12%;
			box-shadow:2px 0 1px #999;padding-top:10px;height:100%;
			}
			
			.leftModel{font-size:14px;text-align:left;line-height:35px;
				-webkit-transform-style:preserve-3d;
				-webkit-perspective:2000px;
				-moz-transform-style:preserve-3d;
				-moz-perspective:2000px;
				perspective:2000px;
				transform-style:preserve-3d;height:36px;
				margin-bottom:4px;padding:0 1% 0;
				-webkit-user-select: none;  /* Chrome all / Safari all */
				-moz-user-select: none;     /* Firefox all */
				-ms-user-select: none;      /* IE 10+ */
				-o-user-select: none;
				user-select: none;
			}
			
			.leftModel .dpage_wrap{position:relative;height:36px;
				-webkit-transform-style:preserve-3d;
				-moz-transform-style:preserve-3d;
				transform-style:preserve-3d;
				-webkit-transform: rotateY(0deg) rotateX(0deg);
				-moz-transform: rotateY(0deg) rotateX(0deg);
				transform: rotateY(0deg) rotateX(0deg);
				
				}
			.cpage_wrap{
				-webkit-transition: 0.2s ease-in;
				-moz-transition: 0.2s ease-in;
			}
			.cpage_wrap:hover {
				-webkit-transform:rotateX(-90deg);
				-moz-transform:rotateX(-90deg);
			}
			.leftModel .dpage_wrap div{position:absolute;top:0;width:98%;background:#ffa836;/*background:#49C4F0;*/cursor:pointer;
			text-align:center;height:36px;font-size:16px;}
			.leftModel .cpage_wrap div{background:#ddd;}
			.cpage_wrap:hover div{
				background:#BEBEC5;;
				/*background:#49C4F0;*/
			}
			.dpage_wrap .pageo{
				-webkit-transform:translateZ(18px);
				-moz-transform:translateZ(18px);
				/*-ms-transform:translateZ(18px);*/
				transform:translateZ(18px);
			}
			.dpage_wrap .pageTw{
				-webkit-transform:rotateX(90deg) translateZ(18px);
				-moz-transform:rotateX(90deg) translateZ(18px);
				/*-ms-transform:rotateX(90deg) translateZ(18px);*/
				transform:rotateX(90deg) translateZ(18px);
			}
			.leftModel a{color:#000;/*font-weight:600;*/}