@charset "utf-8";
/**----------公用css---------**/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,input{margin: 0;padding: 0;}
body{width:100%;background:#eee;font-family:"\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";font-size:12px;color:#000000;OVERFLOW-X: auto;}
.clearfix:after{content:".";visibility:hidden;overflow:hidden;display:block;clear:both;height:0;}
.clearfix{*zoom:1;}
a:hover{cursor:pointer;text-decoration: none;}
a, a:link{color:#000;cursor:pointer;text-decoration: none;}
a:visited{cursor:pointer;text-decoration: none;}
ul li{list-style-type:none;}
/**库**/
.fs20{font-size:20px;}
.fs18{font-size:18px;}
.fs16{font-size:16px;}
.fs14{font-size:14px;}
.fs12{font-size:12px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mb15{margin-bottom:15px;}
.mb10{margin-bottom:10px;}
.mb5{margin-bottom:5px;}
.mtb5{margin-top:5px;margin-bottom:5px;}
.cred{color:#e5282e;}
.ca6{color:#a6a6a6;}
.fll{float:left;}
.flr{float:right;}
.tar{text-align: right;}
.dpb{display:block;}
.dpn{display:none;}
.linkA{display:block;width:100%;height:100%;}
.c000{color:#000;}
/**内容样式**/
.rline{border-right:1px solid #a7a7aa;}
.bline{border-bottom:1px solid #a7a7aa;}
.tline{border-top:1px solid #a7a7aa;}
.shadeDiv{display:none;left:0;top:0;position:absolute;width:100%;height:100%;z-index:7;opacity: 1;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1;}
.waitShade{display:none;left:0;top:0;position:absolute;width:100%;height:100%;z-index:10;opacity: 0.3;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity: 0.3;background:#333;}
.shareRemind{display:none;left:0;top:0;position:absolute;width:100%;height:100%;z-index:10;opacity: 0.8;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;background:#eee;}
.shareContent{display:none;left:0;top:0;position:absolute;width:100%;height:100%;z-index:11;text-align: center;}
.shareContent img{width:100%;}
.waitAll{position:absolute;display:none;z-index:11;text-align: center;}
.waitAll img{width:50px;}

/**底部菜单**/
.menuLine{width:100%;height:60px;border-top:1px solid #BFBFBB;background:#fff;position:fixed;left:0;bottom:0;z-index:8;}
.menuLine .menu{width:25%;height:60px;float:left;}
.menuLine .menu a{display:block;}
.menuLine .menu .item{position:relative;width:50px;height:35px;margin:5px auto 0px auto;}
.menuLine #nav_cartCount{position:absolute;width:20px;height:20px;right:6px;top:0px;background:#e5282e;color:#fff;text-align: center;border-radius:50%;display:none;line-height:20px;}
.menuLine .menu .menuTitle{width:60px;text-align:center;margin:0 auto;}
.menuLine .menu .item1{background:url(../images/w_nav_index_notChoose.png) center 45% no-repeat;background-size:30px;}
.menuLine .menu .item2{background:url(../images/w_nav_promotion_notChoose.png) 65% 45% no-repeat;background-size:30px;}
.menuLine .menu .item3{background:url(../images/w_nav_cart_notChoose.png) 40% 45% no-repeat;background-size:30px;}
.menuLine .menu .item4{background:url(../images/w_nav_user_notChoose.png) center 45% no-repeat;background-size:30px;}
.menuLine .menuchecked{width:25%;height:60px;float:left;}
.menuLine .menuchecked a{display:block;color:#f33131 !important;}
.menuLine .menuchecked .item{position:relative;width:50px;height:35px;margin:5px auto 0px auto;}
.menuLine .menuchecked .menuTitle{width:60px;text-align:center;margin:0 auto;}
.menuLine .menuchecked .item1{background:url(../images/w_nav_index_choose.png) center 45% no-repeat;background-size:30px;}
.menuLine .menuchecked .item2{background:url(../images/w_nav_promotion_choose.png) 65% 45% no-repeat;background-size:30px;}
.menuLine .menuchecked .item3{background:url(../images/w_nav_cart_choose.png) 40% 45% no-repeat;background-size:30px;}
.menuLine .menuchecked .item4{background:url(../images/w_nav_user_choose.png) center 45% no-repeat;background-size:30px;}
/*2016新添样式：个人中心上加红点样式  */
.menuLine #nav_userMessage{position:absolute;width:10px;height:10px;right:6px;top:0px;background:#e5282e;color:#fff;
text-align: center;border-radius:50%;display:none;line-height:20px;}
/**提示层**/
.promptDiv{position: absolute;left: 0px;top: 0px;width: 200px;height: 100px;z-index: 99;display:none;}
.promptDiv .opDiv{position:absolute;left:0;top:0;width: 100%;height: 100%;background: none repeat scroll 0% 0% #333;opacity: 0.5;border-radius:10px;}
.promptDiv .promptContent{position:absolute;left:0;top:0;width: 100%;height: 100%;}
.promptDiv img{display:block;margin:12px auto 10px auto;width:45px;height:45px;}
.promptDiv .title{text-align: center;color:#fff;font-size:13px;}