<!DOCTYPE HTML>
<html>

<head>
    <title>灵犀外卖-后台管理系统</title>
    <!-- 引入 Vue -->
    <script src="https://cdn.bootcss.com/vue/2.2.4/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
    <!-- 引入组件库 -->
    <script src="https://cdn.bootcss.com/element-ui/1.2.5/index.js"></script>
    <!-- 引入ele.css -->
    <link href="https://cdn.bootcss.com/element-ui/1.2.5/theme-default/index.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- icon for iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="灵犀网络" />
    <link rel="apple-touch-icon-precomposed" href="/images/iOS72x72@2x.png">
    <!-- icon for web -->
    <link rel="icon" type="image/png" href="/images/iOS72x72@2x.png">
</head>

<body>
    <%- body%>
        <%- script %>
            <style type="text/css">
            body {
                font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            }
            </style>
</body>

</html>