@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

html, body, .indexPage, .gamePage {
	width: 100%;
}

body {
	width: 100%;
	font-size: 10px;
	font-size: .1rem;
	font-family: Microsoft Yahei, Arial;
	width: 6.4rem;
}

.indexPage {
	width: 100%;
	position: relative;
	height: 9.4rem;
	background: url(../images/act_16pushBox_indexBj.jpg) center center no-repeat;
	background-size: 100% 100%;
}
.receiveResult_page{
	width: 100%;
	position: relative;
	height: 9.4rem;
	background: url(../images/act_16pushBox_rescBj.jpg) center center no-repeat;
	background-size: 100% 100%;
}
.indexP_title{
	width: 5.6rem;
	margin: 0 auto .2rem;
	padding-top: .6rem;
}
.indexP_title img{
	width: 100%;
}
.commomLogin img{
    width: 4rem;
    display: block;
    margin: -.2rem 0 .3rem .8rem;
}
.getHb {
	width: 100%;
	margin: 0 auto;
}
.commomLogin{
	width: 5rem;
	margin: 0 auto;
}
.indexComImg {
	width: 5rem;
	display: block;
	margin: 0 auto;
	padding-top: .4rem;
}

.childSty {
	width: 3rem;
	padding-top: 0;
	margin: -.6rem auto .2rem;
}

/*首页*/
.commShow_title img {
	width: 100%;
}

#getHbBtn {
	margin: .3rem auto .2rem;
	border: none;
	width: 100%;
	background: #ffc40d;
    -webkit-box-shadow: inset 1px 2px 2px 0 #ffd656,2.5px 4.33px 5px 0px #9f2830;
    box-shadow: inset 1px 2px 2px 0 #ffd656,2.5px 4.33px 5px 0px #9f2830;
    background: -webkit-linear-gradient(top,#ffd656 1%,#ffc40e 41%,#ffc40d 75%,#ffa70e 95%,#ffbd23 100%);
    background: linear-gradient(to bottom, #ffd656 1%,#ffc40e 41%,#ffc40d 75%,#ffa70e 95%,#ffbd23 100%);
	border-radius: .4rem;
	box-sizing: border-box;
	height: 38px;
	line-height: 38px;
	display: block;
	outline: none;
    overflow: hidden;
}

#getHbBtn span {
    display: block;
    width: 220px;
    height: 37px;
    margin: 0 auto;
    background: url(../images/act_16pushBox_btnIcon.png) no-repeat;
    background-size: 87% 412px;
    background-position: 17px -215px;
}

#getActRule {
	color: #761f2c;
	font-weight: 900;
	font-family: SimHei;
	text-align: center;
	font-size: 14px;
	position: absolute;
	bottom: .2rem;
	left: 0;
	width: 100%;
	line-height: 35px;
}

.actRuleShow_wrap {
	display: none;
}

.comWrap1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	box-sizing: border-box;
	padding-top: 1.5rem;
}

.comShowWrap1 {
	width: 5.6rem;
	background: #f7ac47;
	border-radius: 5px;
	box-shadow: 0 -2px #fcd8a0;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 10px;
	box-sizing: border-box;
	position: relative;
}

.actRuleShow h1 {
	background: url(images/act_16womenday_comText.png) 0 -180px no-repeat;
	background-size: 145% 462%;
	height: 50px;
	width: 2.5rem;
	margin: 0 auto;
	overflow: hidden;
}

.actRuleClose {
	position: absolute;
	right: -10px;
	top: -15px;
	width: 44px;
}

.comTextWrap1 {
	width: 5.3rem;
	margin: 0 auto;
	background: #ffe38d;
	border-radius: 8px;
	box-shadow: inset 1px 2px 2px #ab7121, inset -1px -2px 2px #ab7121;
	box-sizing: border-box;
	padding: .4rem;
	color: #761f2c;
	font-weight: bold;
}

.actRuleText p {
	font-size: 12px;
}

.actRuleScore_wrap {
	overflow: hidden;
	margin: .2rem auto;
}

.actRuleScore {
	float: left;
	margin-left: .34rem;
}

.actRuleScore i {
	display: block;
	width: 1.2rem;
	border-radius: 15px;
	height: .3rem;
	color: #f06476;
	font-size: 14px;
	font-weight: 600;
	margin-top: .1rem;
	;
}

.actRuleShow_wrap .actRuleScore:nth-child(1) {
	margin-left: .1rem;
}

.actRuleAvatar {
	display: block;
	border-radius: 50%;
	background: #fff;
	width: 1.2rem;
	height: 1.2rem;
	overflow: hidden;
}

.shadAndTick {
	position: relative;
}

#getHbText {
	line-height: .8rem;
	position: absolute;
	top: -1.5rem;
	color: #ec1b00;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	width: 6.4rem;
}

#getHbValWrap {
	line-height: .6rem;
	width: 6.4rem;
	margin: 0 auto;
	position: absolute;
	top: -.8rem;
	color: #ec1b00;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
}

#getHbVal {
	font-size: .7rem;
}



#userPhone {
	width: 100%;
	outline: none;
	/* border: 0;
	height: 38px;
	line-height: 38px; */
	padding: 8px 5px;
	vertical-align: middle;
	box-sizing: border-box;
	color: #ac9a81;
	text-align: center;
	border-radius: .4rem;
	background: #fff;
	font-size: 16px;
	border: 2px solid #ffc40d;
}

::-moz-placeholder {
	color: #ac9a81;
	text-align: center;
	font-family: ""
}

:-ms-input-placeholder {
	color: #ac9a81;
	text-align: center;
}

::-webkit-input-placeholder {
	color: #ac9a81;
	text-align: center;
}

#downText {
	font-size: 18px;
	font-family: 黑体;
	font-weight: 900;
	text-align: center;
	color: #fff;
	width: 2.5rem;
    margin: .3rem auto 0;
}

.has_received, .receive_success {
	width: 4.8rem;
	margin: 1rem auto 0;
	border-radius: 5px;
	box-sizing: border-box;
}

.getHbnNum img{
	width: 100%;
}

.getHbnNum p{
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	text-align: center;
}
.commUsebtn {
	width: 5rem;
	margin: 0 auto;
	overflow: hidden;
}

/* 看看好友的手气*/
.comShowTitle {
	color: #371803;
	height: 40px;
	width: 6.2rem;
	margin: .2rem auto;
	overflow: hidden;
	position: relative;
}

.leftLineDot {
	overflow: hidden;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	padding-right: .3rem;
	padding-top: 19px;
	box-sizing: border-box;
	width: 1.7rem;
}

.leftLineDot span {
	float: left;
	background: #371803;
}

.leftLineDot span:nth-child(2) {
	position: absolute;
	right: 3px;
	top: 15px;
}

.rightLineDot {
	padding: 19px 0 0 .3rem;
	right: 0;
	overflow: hidden;
	height: 40px;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	width: 1.7rem;
}

.rightLineDot span {
	float: right;
	background: #371803;
}

.rightLineDot span:nth-child(1) {
	position: absolute;
	left: 3px;
	top: 15px;
}

.comshowTitleText {
	text-align: center;
    line-height: 40px;
    width: 2.8rem;
    margin: 0 auto;
    font-size: 16px;
}


.friHbShow {
	margin: .2rem auto;
	width: 6.2rem;
	overflow: hidden;
	font-size: 12px;
	border-bottom: 1px dashed #371803;
}

.userFriAvatat {
	width: 81%;
	overflow: hidden;
	float: left;
}

.userFriAvatat img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 10%;
}

.userFriInf_wrap {
	width: 18%;
	float: right;
	box-sizing: border-box;
	overflow: hidden;
}

.userFriInf {
	float: left;
	margin-left: .2rem;
	width: 80%;
	margin-bottom: .3rem;
}

.userFriInf strong {
	font-size: 14px;
	color: #371803;
	line-height: 20px;
}

.userFriHbValue_wrap {
	width: 100%;
	height: 40px;
	float: right;
	text-align: center;
	background: url(../images/act_16pushBox_valueBack.png) 0px 0 no-repeat;
	background-size: 100% 90%;
	overflow: hidden;
	line-height: 36px;
	color: #fff;
	font-size: 20px;
}


.userFriInf p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	color: #371803;
	line-height: 20px;
}

.activeRuleShow {
	width: 6.2rem;
	margin: 0 auto;
	padding-bottom: .5rem;
	color: #371803;
	line-height: 30px;
	font-size: 14px;
}

/* 新加样式 */
.receive_success_desc p {
	line-height: 40px;
	color: #000;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
}

.receive_success_desc .hasReceived {
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	font-weight: 600;
}

.common_useStyle {
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: .3rem;
	width: 5rem;
}

.gethb_people {
	position: absolute;
	width: 1.4rem;
	left: -.6rem;
	top: 0rem;
}

.gethb_bucket {
	position: absolute;
	width: 1rem;
	right: -.6rem;
	top: -.3rem;
}

.use_btn {
	margin: .25rem auto;
	border: none;
	width: 100%;
    background: #7dcdff;
    -webkit-box-shadow: inset 1px 2px 2px 0 #a4dcff,2.5px 4.33px 5px 0px #9f2830;
    box-shadow: inset 1px 2px 2px 0 #a4dcff,2.5px 4.33px 5px 0px #9f2830;
    background: -webkit-linear-gradient(top,#a4dcff 1%,#80ceff 41%,#7dcdff 65%,#60baff 85%,#76c1ff 100%);
    background: linear-gradient(to bottom, #a4dcff 1%,#80ceff 41%,#7dcdff 65%,#60baff 85%,#76c1ff 100%);
	border-radius: .4rem;
	box-sizing: border-box;
	height: 38px;
	display: block;
	outline: none;
}

.use_btn span {
	display: block;
    width: 193px;
    height: 34px;
    margin: 0 auto;
    background: url(../images/act_16pushBox_btnIcon.png) no-repeat;
    background-size: 95% 400px;
    background-position: 22px -238px;
}

.shareFri {
	margin: .5rem auto;
	border: none;
	width: 100%;
	border-radius: .4rem;
	box-sizing: border-box;
	height: 38px;
	display: block;
    background: #ffc40d;
    -webkit-box-shadow: inset 1px 2px 2px 0 #ffd656,2.5px 4.33px 5px 0px #9f2830;
    box-shadow: inset 1px 2px 2px 0 #ffd656,2.5px 4.33px 5px 0px #9f2830;
    background: -webkit-linear-gradient(top,#ffd656 1%,#ffc40e 41%,#ffc40d 65%,#ffa70e 85%,#ffbd23 100%);
    background: linear-gradient(to bottom, #ffd656 1%,#ffc40e 41%,#ffc40d 65%,#ffa70e 85%,#ffbd23 100%);
	outline: none;
}

.shareFri span {
	display: block;
    width: 190px;
    height: 25px;
    margin: 0 auto;
    background: url(../images/act_16pushBox_btnIcon.png) no-repeat;
    background-size: 102% 400px;
    background-position: 34px -360px;
}

.ActRule_content {
	color: #fffd89;
	padding: 0rem .1rem;
	line-height: 25px;
}

/*app固定样式  */
.shareAppPage {
	display: none;
	width: 4.6rem;
	margin: 0 auto .2rem;
}

.shareAppPage button {
	width: 100%;
	border-radius: .4rem;
	margin: .4rem auto 0;
	border: 0;
	box-sizing: border-box;
	height: 44px;
	line-height: 40px;
	display: block;
	outline: none;
	color: #fff;
	font-size: 18px;
	font-weight: 900;
}

.shareAppPage button:nth-child(1) {
	background: #ffc40d;
    -webkit-box-shadow: inset 1px 2px 2px 0 #ffd656,2.5px 4.33px 5px 0px #9f2830;
    box-shadow: inset 1px 2px 2px 0 #ffd656,2.5px 4.33px 5px 0px #9f2830;
    background: -webkit-linear-gradient(top,#ffd656 1%,#ffc40e 41%,#ffc40d 65%,#ffa70e 85%,#ffbd23 100%);
    background: linear-gradient(to bottom, #ffd656 1%,#ffc40e 41%,#ffc40d 65%,#ffa70e 85%,#ffbd23 100%);
}

.shareAppPage button:nth-child(2) {
	background: #7dcdff;
    -webkit-box-shadow: inset 1px 2px 2px 0 #a4dcff,2.5px 4.33px 5px 0px #9f2830;
    box-shadow: inset 1px 2px 2px 0 #a4dcff,2.5px 4.33px 5px 0px #9f2830;
    background: -webkit-linear-gradient(top,#a4dcff 1%,#80ceff 41%,#7dcdff 65%,#60baff 85%,#76c1ff 100%);
    background: linear-gradient(to bottom, #a4dcff 1%,#80ceff 41%,#7dcdff 65%,#60baff 85%,#76c1ff 100%);
}

#shareFriSha {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 100;
	display: none;
}

#shareFriSha img {
	width: 4rem;
	margin: 0.5rem auto;
	display: block;
}

.promptDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 180px;
	height: 90px;
	z-index: 99;
	display: none;
}

.promptDiv .opDiv {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0% 0% #333;
	opacity: 0.5;
	border-radius: 10px;
}

.promptDiv .promptContent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.promptDiv img {
	display: block;
	margin: 12px auto 10px auto;
	width: 45px;
	height: 45px;
}

.promptDiv .title {
	text-align: center;
	color: #fff;
	font-size: 12px;
}