
.card
{
    width: 1.5rem;
    height: 2rem;
    position: relative;
      float: left;
}
.face
{
    width: 100%;
    height: 100%;
    /*border-radius:10px;*/
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition:all .3s;
    /*background-size:cover;*/
}
.front
{
    background: url("../images/act_laba_gamePageBack.png") ;
    z-index: 10;
     background-size: 100% 100%;
}
/*.back
{
    background: url("../images/act_laba_positive.png");
    -webkit-transform-rotateY(-180deg);
	background-size:cover;
    z-index: 8;
}*/
.face:hover
{
    -webkit-box-shadow: 0 0 40px #aaa;

}
/*牌面定位样式*/
.cardA{background: url("../images/act_laba_positive1.png")top center no-repeat ;  background-size: 100% 100%;}
.cardB{background: url("../images/act_laba_positive2.png")top center no-repeat ;  background-size: 100% 100%;}
.cardC{background: url("../images/act_laba_positive3.png")top center no-repeat ;  background-size: 100% 100%;}
.cardD{background: url("../images/act_laba_positive4.png")top center no-repeat ;  background-size: 100% 100%;}
.cardE{background: url("../images/act_laba_positive5.png")top center no-repeat ;  background-size: 100% 100%;}
.cardF{background: url("../images/act_laba_positive6.png")top center no-repeat ;  background-size: 100% 100%;}
.cardG{background: url("../images/act_laba_positive7.png")top center no-repeat ;  background-size: 100% 100%;}
.cardH{background: url("../images/act_laba_positive8.png")top center no-repeat ;  background-size: 100% 100%;}

.card-flipped .front
{
    /*保证牌底在牌面下面，z-index值切换为小值*/
    z-index: 8;
    -webkit-transform: rotateY(180deg);
}
.card-flipped .back
{
    /*保证牌底在牌面上面，z-index值切换为大值*/
    z-index: 10;
    /*前面牌面已经翻过去，现在返回来*/
    -webkit-transform: rotateY(0deg);
}


.card-correct .front
{
    /*保证牌底在牌面下面，z-index值切换为小值*/
    z-index: 8;
    -webkit-transform: rotateY(180deg);
}
.card-correct .back
{
    /*保证牌底在牌面上面，z-index值切换为大值*/
    z-index: 10;
    /*前面牌面已经翻过去，现在返回来*/
    -webkit-transform: rotateY(0deg);
}

.card-active{
	/*background: red;*/
}
/*移除牌*/
.card-removed
{
    opacity: 0;
}