body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:20px;
  width:300px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:154px;
  top:50px;
  width:146px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:103px;
  top:170px;
  width:234px;
  height:370px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:370px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
