@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
  text-align: center;
}
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  background: #f1f2f6;
  font-family: Microsoft Yahei, Arial;
}
.clearFix:after {
  content: "";
  display: block;
  clear: both;
}
.clearFix {
  *zoom: 1;
}
.content {
  width: 100%;
  height: 100%;
}
.content_top {
  margin: 0 auto;
  position: relative;
}
.content_top img{
    width: 100%;
    float: left;
}
.indexPage{
	position: relative;
}
.getHbWrap{
	width: 6rem;
	padding:.5456rem 0;
	box-sizing: border-box;
	/*background: #fff;
	box-shadow: 0 0 25px #8ec391;*/
	position: absolute;
	bottom:1.2rem ;
	left: 50%;
	margin-left: -3rem;
}

.commomLogin {
  width: 5.34375rem;
  margin: 0 auto;
}
.commomLogin #getHbBtn {
  width: 100%;
  margin-top: 0.5875rem;
}

.getHb button {
  width: 100%rem;
  height: 1.125rem;
  line-height: 1.125rem;
  border-radius: 4px;
  background: #019ef9;
  /*background: -webkit-linear-gradient(top, #ff844b 0%, #ff6b2f 40%, #ff5313 75%, #ff4605 100%);
  background: linear-gradient(to bottom, #ff844b 0%, #ff6b2f 40%, #ff5313 75%, #ff4605 100%);*/
  outline: none;
  border:0;
  font-size:0.446875rem;
  /*font-family: "DFPWaWaW5";*/
  color:#fff;
  text-align: center;
  box-shadow: 0 6px 10px 2px #ddd0d0;
}
/*在IOS下，input 和textarea表单默认会有个内阴影*/
.getHb input {
  width: 100%;
  height: 1.125rem;
  line-height: 1.125rem;
  border-radius: 4px;
  background: #e6e6e6;
  outline: none;
  border: 1px solid #019ef9;
  font-size:0.446875rem;
  font-family: "DFPWaWaW5";
  color: #019ef9;
  text-align: center;
  -webkit-appearance: none;/*去除系统默认的样式*/
   -webkit-tap-highlight-color: rgba(0,0,0,0);/*去除高亮的样式*/
  box-shadow: 0 10px 12px 2px #ddd0d0;
}
::-moz-placeholder {
  color: #019ef9;
  text-align: center;
  font-family: "";
}
:-ms-input-placeholder {
  color: #019ef9;
  text-align: center;
}
::-webkit-input-placeholder {
  color: #019ef9;
  text-align: center;
}

.getHbnNum {
  width: 100%;
  margin: 0 auto;
}
.getHbnNum img{
	width: 100%;
	float: left;
}
.commUsebtn {
  width: 100%;
  margin: 0.4875rem auto 0;
}
.getHb .commUsebtn button{
	/*width:2.8rem;
	height: .9125rem;
    line-height: .9125rem;
    border-radius: 50px;
    font-size: 0.346875rem;*/
   margin: 0 auto;
   display: block;
}
.getHb	.use_btn{
	/*background: -webkit-linear-gradient(top, #ff834b 0%, #ff7237 40%, #ff5d20 75%, #ff4705 100%);
    background: linear-gradient(to bottom, #ff834b 0%, #ff7237 40%, #ff5d20 75%, #ff4705 100%);
	color:#fff;
	font-weight: bold;
	float: left;*/
}
.getHb	.shareFri{
	background: -webkit-linear-gradient(top, #84b517 0%, #75ae12 40%, #5ea409 75%, #479901 100%);
    background: linear-gradient(to bottom, #84b517 0%, #75ae12 40%, #5ea409 75%, #479901 100%);
	box-shadow: 0 3px 5px #c7e0b2;
	color:#fff;
	font-weight: bold;
	float: right;
}
.receive_success{
	margin: .36768rem 0;
}
.has_received {
	margin: 0.4875rem auto 0.6875rem;
}

.activeRuleShowWrap .activeRuleShow {
  width: 9rem;
  margin: 0 auto;
  color: #4a1a00;
  line-height: 0.5375rem;
  font-size: 0.40625rem;
  padding: 0 0 .4rem 0;
  box-sizing: border-box;
}
.activeRuleShowWrap .activeRuleShow p{
	margin-top: .4rem;
}
.comShowTitle {
  color: #fff;
  height: 40px;
  width: 100%;
  margin: 1.053125rem auto 0;
  overflow: hidden;
  position: relative;
}
.comShowTitle img{
	width: 100%;
}

.failShow{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 10;
	padding-top: 2.5rem;
}
.failResul{
	width: 4rem;
	height: 3.5rem;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -2rem;
	/* top: 50%;
	margin-top: -1.5rem; */
	text-align: center;
	padding: 0 .1rem ;
	box-sizing: border-box;
	font-size: .25rem;
}
.desc{
	margin: .8rem 0;
}
.line{
	width: 100%;
	height: 1px;
	background: #999;
	margin-bottom: .4rem;
}
.closeBtn{
	color: #009900;
	/*border-top: 1px solid #999;*/
}

.failBox{
				position: fixed;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: rgba(0, 0, 0, .5);
			    z-index: 12;
			}
			.failBoxWrap{
			    width: 6.4rem;
			    height: 5rem;
			    background: #fff;
			    position: absolute;
			    left: 50%;
			    /*top: 50%;*/
			    margin-left: -3.2rem;
			    text-align: center;
			    padding: 0 .1rem;
			    box-sizing: border-box;
			    font-size: .24rem;
			    border-radius: 10px;
			    margin-top: 4.8rem;
			}
			.failBoxWrap img.closeBtn{
				display: block;
				width: .2rem;
				margin: 0.15rem auto 0;
				float: right;
				padding: 0 .1rem;
			}
			.descWap{
				display: none;
				width: 100%;
				margin: 0.85rem auto 0;	
				line-height: .5rem;
				font-size: .3rem;	
				padding: 0 .4rem;
				box-sizing: border-box;		
			}
			h3{
				text-align: center;
				margin-bottom: .3rem;
			}
			p{
				height: .45rem;
			}
			.btnWrap{
				width: 4rem;
				margin: .8rem auto 0;
			}
			.btnWrap button{
				width: 100%;
				line-height: .9rem;
				height: .9rem;
				border-radius: 4px;
				outline: none;
				border: 0;
				color: #fff;
				display: block;
			}
			.btnWrap button.shareFri {
			    float: none;
			    background: #de150b;
			    box-shadow: none;
			    margin-top: .22rem;
			}
			.btnWrap button.use_btn {
			    float: none;
			    background: #fff;
			    color: #de150b;
			    border: 1px solid #de150b;
			    box-shadow: none;
			}