body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:20px;
  width:300px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:86px;
  top:245px;
  width:284px;
  height:135px;
  font-size:14px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:135px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:20px;
  width:90px;
  height:130px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:130px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  word-wrap:break-word;
}
