@charset "utf-8";
.pagination{text-align:right;margin-top: 15px;margin-bottom: 10px;margin-right:15px;}
.pagination a{text-decoration: none;border: 1px solid #AAE;color: #15B;}
.pagination a, .pagination span{display: inline-block; padding: 0px 6px; margin-right: 5px;margin-bottom: 5px;font-size: 14px;}
.pagination .current{background: #26B; color: #fff;border: 1px solid #AAE;}
.pagination .current.prev, .pagination .current.next{color:#999;border-color:#999;background:#fff;}
