body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:20px;
  width:300px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:470px;
  width:200px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:98px;
  top:90px;
  width:282px;
  height:410px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:410px;
}
#u5 {
  position:absolute;
  left:2px;
  top:197px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:132px;
  top:130px;
  width:217px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:110px;
  top:233px;
  width:260px;
  height:147px;
  font-size:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:147px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:131px;
  top:360px;
  width:209px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:131px;
  top:420px;
  width:209px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  word-wrap:break-word;
}
