.wa {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    margin-bottom: 45px;
}
.wa .wb {
    position: relative;
    padding: 10px 15px;
    background-color: white;
    height: 32px;
}
.wa .wb.w:before {
    border-bottom: 1px solid #d9d9d9;
}
.w::before {
    height: 1px;
    content: '';
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    position: absolute;
    bottom: -1px;
    right: 0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    z-index: 10;
}
.none {
    display: none;
}
.wa .wb .wc {
    font-size: 16px;
    line-height: 32px;
    background: url(../images/icon_arrow_down.png) right no-repeat;
    padding-right: 15px;
    background-size: 9px auto;
    margin-right: 10px;
    display: inline-block;
}
.wa .wb .wd.defaultWidth {
    width: 87%;
    left: 15px;
}
.wa .wb .wd {
    position: absolute;
    left: 85px;
    right: 10px;
    top: 10px;
    background: #ffffff url(../images/icon_swich.png) no-repeat 5px;
    background-size: 13px;
    border-radius: 5px;
    color: #666666;
    outline: none;
    border: 1px solid #eaeaea;
    font-size: 13px;
    line-height: 22px;
    width: 60%;
    padding: 5px 0 5px 20px;
}

/*定位*/
.wa .we {
    width: 100%;
    margin-top: 10px;
}
.wa .we .wf {
    height: 50px;
    padding: 0 15px;
    background: #ffffff;
    position: relative;
}
.wa .we .wf i {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 50px;
    background: url(../images/location-eye@2x.png) no-repeat 0 center;
    background-size: 20px 20px;
    margin-right: 10px;
}
.wa .we .wf p {
    line-height: 50px;
    color: #47b34f;
    font-size: 16px;
    display: inline-block;
}

.wa .we .wf p::after {
    content: '';
    position: absolute;
    right: 0;
    width: 40px;
    height: 50px;
    background: url(../images/address_arrow_icon.png) no-repeat center;
    background-size: 8px 13px;
}
.an {
    position: absolute;
    top: 116px;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 165px;
    font-size: 16px;
    color: #000;
    line-height: 26px;
    text-align: center;
    background: #fff url(../images/icon_address_add.png) center 45px no-repeat;
    background-size: 94px;
    margin-top: 10px;
}
/*已开通的城市*/
.wu {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    overflow: hidden;
}
.wv {
    position: relative;
    font-size: 14px;
    color: #b0b0b0;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
}
.wv:before {
    content: "";
    height: 0;
    border-top: 1px dashed #b0b0b0;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
}
.wv span {
    background-color: #f4f4f4;
    display: inline-block;
    padding: 0 6px;
    position: relative;
    z-index: 1;
}
.ww {
    padding: 10px;
    width: 125%;
    box-sizing: border-box;
    padding-right: 62px;
}
.ww li {
    display: inline-block;
    padding: 10px 0;
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    margin: 0 10px 10px 0px;
    width: 20%;
    text-align: center;
    float: left;
}
.ww li.cur {
    border: 1px solid #d0d0d0;
    background: #f3f3f3;
}